---
layout: default
title: BTFD Calculator
metadescription: Nesteggly's BTFD Calculator helps you use margin and derivatives to buy dips and (hopefully) avoid getting margin called.
ogimage: https://www.nesteggly.com/img/stonks-cropped-vertically.jpg
ogtitle: Ever wonder how to buy a dip on margin by selling puts?
ogdescription: Nesteggly's BTFD Calculator will show you how.
---
<div class="main-inner">
  <div class="container">
    <div class="jumbotron"
      style="margin-top:2rem; background: url('/img/stonks-cropped-vertically.jpg') no-repeat center  center;background-size: cover;">
      <div class="container text-white"
        style="background:rgba(0,0,0,0.7); padding:2rem; border:1px solid rgba(0,0,0,0.2); border-radius:3px;">
        <h1>{{ page.title }}</h1>
        <hr class="my-4">
        <h2 class="lead">{{ page.metadescription }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          Ever wonder how to <b>buy the dip</b> on margin by selling puts? You've come to the right place.<span class="collapse show readmore">.. <a data-toggle="collapse" data-target=".readmore" href="#"><b>Read more ></b></a></span>
        </p>
        <span class="collapse readmore">
          <p>
            "Buying the dip" is a trading strategy which relies upon the assumption that any given drop in a stock price is a transitory opportunity to buy in at a discounted price.
          </p>
          <p>
            The trouble with exploiting this assumption is having the buying power to execute this trade when the time comes. Unfortunately, this leads many to hold onto cash and miss out on prolonged rallies.
          </p>
          <p>
            So instead of holding cash, consider using margin. Sure, trading stocks on margin (especially during a dip) runs the risk of having your broker liquidate your assets to cover their margin requirements. And further, brokers can restrict margin whenever they like, further amplifying this risk. But as long as you plan ahead for these things it's really <a href="https://finance.yahoo.com/news/selling-puts-not-risky-sounds-185706348.html">not as crazy as it sounds</a>.
          </p>
          <p>
            Nesteggly's BTFD Calculator helps you identify price levels at which to purchase stock as we descend into a theoretical dip. Levels are based on your risk tolerance, available equity, and margin requirements. Further, the calculator facilitates a put-selling strategy, catered to your individual situation, to generate income and execute stock purchases.
          </p>
          <p>
            Here's how the strategy works:
            <ol>
              <li>First, start with a margin balance of zero and think about what stock you'd like to BTFD for. Pick a stock which has some natural floor on its share price (for example, broad and liquid ETFs like SPY, IWM, or QQQ; or companies trading near their tangible book value). The risk of you being wrong about this floor is you getting margin-called, so it helps to be conservative here.</li>
              <li>Next, use the BTFD calculator to calculate a strike price for that stock. The BTFD calculator informs you how far you can chase the stock into the dip before you're margin called. Compare this with your initial assessment of the worst-case scenario. Make sure to adjust the risk parameters of the calculator accordingly.</li>
              <li>
                Sell a put at the strike price recommended by the BTFD calculator. Next, one of two things will happen:
                <ul>
                  <li>Your put expires worthless and you bank the premium. Start over at Step 1.</li>
                  <li>Your put is assigned. You have begun buying the dip.</li>
                </ul>
              </li>
              <li>Sell another put at the next strike price per BTFD calculator. Keep selling puts at this level until you're assigned again, then begin selling puts at the next price level, and so on. The idea is that you sell a put at each price level on the way down. Pay off accrued margin interest as it comes due (consider tax-loss harvesting) and only take on additional margin when being assigned at each price level.</li>
              <li>
                Once the dip is over, pay off your margin balance with either:
                <ul>
                  <li>Funds provided by your day job.</li>
                  <li>Selling shares when you feel they have reached a sufficiently high valuation.</li>
                </ul>
              </li>
            </ol>
          </p>
          <p>
            That's it. Again, be sure to not underestimate how far your investments can fall. And do not attempt this strategy if you don't fully understand what you're doing. This tool has numerous limitations and has not captured every single nuance of the decisions you will need to make through this process. The tool merely provides an approximation of the size of risk you should be taking on as you attempt to buy a dip on margin. It is merely a jumping-off point. The rest is up to you. Good luck.
          </p>
        </span>
      </div>
    </div>
    <div id="calculator">
      <div class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div>
          <noscript>Please enable JavaScript to use the calculator.</noscript>
          <p>If the spinner is stuck, you may need to upgrade to a more recent version of your web browser.</p>
        </div>
      </div>
    </div>
  </div>
  
  {% include floating-summary.html %}

</div>

{% include adsense-script.html %}

<script defer src="{{ site.data.manifest['btfdCalculatorBundle.js'] }}"></script>