---
layout: default
title: FIRE Retirement Calculator
metadescription: FIRE is sweeping the nation. When can you retire? Find out with our FIRE Retirement Calculator.
ogimage: https://www.nesteggly.com/img/fire-cropped-vertically-1110x555.jpg
ogtitle: How far are you away from retirement?
ogdescription: FIRE is sweeping the nation. When can you retire? Find out with our FIRE Retirement Calculator.
---
<div class="main-inner">
  <div class="container">
    <div class="jumbotron"
      style="margin-top:2rem; background: url('/img/fire-cropped-vertically-1110x555.jpg') no-repeat center center;background-size: cover;">
      <div class="container text-white"
        style="background:rgba(0,0,0,0.6); padding:2rem; border:1px solid rgba(0,0,0,0.2); border-radius:3px;">
        <h1>{{ page.title }}</h1>
        <hr class="my-4">
        <h2 class="lead">{{ page.metadescription }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col" id="calcUpsell">
        <div class="alert alert-success" role="alert">
          Just beginning your retirement journey? Head over to our <a href="/retirement-calculator"
            class="alert-link">Ultimate Retirement Calculator</a> to get an idea of how much you should start saving.
        </div>
        <div class="alert alert-warning" role="alert">
          Already in retirement? Our <a href="/investment-withdrawal-calculator" class="alert-link">Investment Withdrawal Calculator</a> might be more suited for you.
        </div>
      </div>
    </div>
    <div id="calculator">
      <div class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div>
          <noscript>Please enable JavaScript to use the calculator.</noscript>
          <p>If the spinner is stuck, you may need to upgrade to a more recent version of your web browser.</p>
        </div>
      </div>
    </div>
  </div>

  {% include floating-summary.html %}

</div>

{% include adsense-script.html %}

<script defer src="{{ site.data.manifest['fireRetirementCalculatorBundle.js'] }}"></script>