---
layout: default
ogimage: https://www.nesteggly.com/img/landscape-egg-2-cropped-vertically.jpg
ogtitle: Nesteggly
ogdescription: Nesteggly. Make your money work for you.
---

<script defer src="{{ site.data.manifest['justTheBasicsBundle.js'] }}"></script>

{% include defer-app-install-prompt.html %}

<div class="main-inner index">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron" style="margin-top:2rem;">
          <div class="container">
            <h1 class="display-4 brand">{{ site.title }}</h1>
            <p class="lead">{{ site.slogan }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Plan your retirement</h3>
        <p>Which of these three describes you?</p>

        <div class="card-deck">
          <div class="card shadow text-white bg-info">
            <div class="card-body">
              <h5 class="card-title">I want to retire at a specific age.</h5>
              <a
                href="/retirement-calculator"
                style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; pointer-events: auto; content: ''; background-color: rgba(0,0,0,0);"
              ></a>
              <div class="text-center mt-3">
                <button class="btn shadow btn-light">This is me</button>
              </div>
            </div>
          </div>

          <div class="card shadow text-white bg-danger">
            <div class="card-body">
              <h5 class="card-title">I want to know when I can retire.</h5>
              <a
                href="/fire-retirement-calculator"
                style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; pointer-events: auto; content: ''; background-color: rgba(0,0,0,0);"
              ></a>
              <div class="text-center mt-3">
                <button class="btn shadow btn-light">This is me</button>
              </div>
            </div>
          </div>

          <div class="card shadow text-white bg-success">
            <div class="card-body">
              <h5 class="card-title">I'm already retired.</h5>
              <a
                href="/investment-withdrawal-calculator"
                style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; pointer-events: auto; content: ''; background-color: rgba(0,0,0,0);"
              ></a>
              <div class="text-center mt-3">
                <button class="btn shadow btn-light">This is me</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Latest blog posts:</h3>
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            {% assign posts = site.posts | where_exp:'post',
            'post.dontshowonfrontpage == nil' %} {% for post in posts %} {% if
            forloop.first %}
            <div class="carousel-item active">
              {% else %}
              <div class="carousel-item">
                {% endif %}
                <img
                  src="{{ post.heroimage }}"
                  class="d-block w-100"
                  alt="{{ post.title }}"
                />
                <a
                  href="{{ post.url }}"
                  style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; pointer-events: auto; content: ''; background-color: rgba(0,0,0,0);"
                >
                  <div
                    class="carousel-caption d-none d-block"
                    style="top: 50%; -ms-transform: translateY(-50%); bottom: auto; transform: translateY(-50%); background:rgba(0,0,0,0.6); padding:1rem; border:1px solid rgba(0,0,0,0.2); border-radius:3px;"
                  >
                    <h4 style="margin: 1rem;">{{ post.title }}</h4>
                    <p>{{ post.excerpt }}</p>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3>Nesteggly's calculators:</h3>

          <div class="card-deck">
            <div class="card shadow">
              <img
                class="card-img-top"
                loading="lazy"
                alt="How much should I save for retirement?"
                src="/img/landscape-egg-2-538x380.jpg"
              />
              <div class="card-body">
                <h5 class="card-title">
                  How much should I save for retirement?
                </h5>
                <p>
                  Find out using our Ultimate Retirement Calculator.
                </p>
                <a
                  href="/retirement-calculator"
                  aria-label="How much should I save for retirement?"
                  style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; pointer-events: auto; content: ''; background-color: rgba(0,0,0,0);"
                ></a>
                <div class="text-center mt-3">
                  <button class="btn btn-success">Give it a try</button>
                </div>
              </div>
            </div>

            <div class="card shadow">
              <img
                class="card-img-top"
                loading="lazy"
                alt="How far are you away from retirement?"
                src="/img/fire-538x380.jpg"
              />
              <div class="card-body">
                <h5 class="card-title">
                  How far are you away from retirement?
                </h5>
                <p>
                  Find out using our FIRE Retirement Calculator.
                </p>
                <a
                  href="/fire-retirement-calculator"
                  aria-label="How far are you away from retirement?"
                  style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; pointer-events: auto; content: ''; background-color: rgba(0,0,0,0);"
                ></a>
                <div class="text-center mt-3">
                  <button class="btn btn-success">Give it a try</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-deck mt-3">
            <div class="card shadow">
              <img
                class="card-img-top"
                loading="lazy"
                alt="How much can I safely withdraw from my retirement savings?"
                src="/img/rain-umbrella-money-538x380.jpg"
              />
              <div class="card-body">
                <h5 class="card-title">
                  How much can I safely withdraw from my retirement savings?
                </h5>
                <p>
                  Find out using our Investment Withdrawal Calculator.
                </p>
                <a
                  href="/investment-withdrawal-calculator"
                  aria-label="How much can I safely withdraw from my retirement savings?"
                  style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; pointer-events: auto; content: ''; background-color: rgba(0,0,0,0);"
                ></a>
                <div class="text-center mt-3">
                  <button class="btn btn-success">Give it a try</button>
                </div>
              </div>
            </div>

            <div class="card shadow">
              <img
                class="card-img-top"
                loading="lazy"
                alt="What's the total cost of owning a home?"
                src="/img/house-538x380.jpg"
              />
              <div class="card-body">
                <h5 class="card-title">
                  What's the total cost of owning a home?
                </h5>
                <a
                  href="/mortgage-calculator"
                  aria-label="What's the total cost of owning a home?"
                  style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; pointer-events: auto; content: ''; background-color: rgba(0,0,0,0);"
                ></a>
                <p>
                  Factoring in everything from maintenance to taxes.
                </p>
                <div class="text-center mt-3">
                  <button class="btn btn-success">Give it a try</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
