---
layout: default
title: Ultimate Mortgage Calculator
metadescription: Our Ultimate Mortgage Calculator factors in just about everything from PMI to taxes, insurance, maintenance, home price appreciation, transaction costs and opportunity costs.
ogimage: https://www.nesteggly.com/img/house-cropped-vertically.jpg
ogtitle: What's the total cost of owning a home?
ogdescription: Factoring in everything from PMI to taxes, insurance, maintenance, home price appreciation, transaction costs and opportunity costs.
---
<div class="main-inner">
  <div class="container">
    <div class="jumbotron"
    style="margin-top:2rem; background: url('/img/house-cropped-vertically.jpg') no-repeat center center;background-size: cover;">
      <div class="container text-white" style="background:rgba(0,0,0,0.6); padding:2rem; border:1px solid rgba(0,0,0,0.2); border-radius:3px;">
        <h1>{{ page.title }}</h1>
        <hr class="my-4">
        <h2 class="lead">{{ page.metadescription }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="mb-4">Tell us a little bit about the mortgage...</h4> 
      </div>
    </div>
    <div id="calculator">
      <div class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div>
          <noscript>Please enable JavaScript to use the calculator.</noscript>
          <p>If the spinner is stuck, you may need to upgrade to a more recent version of your web browser.</p>
        </div>
      </div>
    </div>
  </div>

  {% include share-buttons.html %}
  
</div>

{% include adsense-script.html %}

<script defer src="{{ site.data.manifest['mortgageCalculatorBundle.js'] }}"></script>