---
layout: default
title: Personal income spending flowchart
metadescription: We've fashioned a famous flowchart into an easy-to-use online guide to help you through some of life's big financial decisions.
ogimage: https://www.nesteggly.com/img/egg-landscape-cropped-vertically.jpg
ogtitle: How should you save your next dollar?
ogdescription: Our online guide can point you in the right direction.
---
<div class="main-inner">
  <div class="container">
    <div class="jumbotron"
    style="margin-top:2rem; background: url('/img/egg-landscape-cropped-vertically.jpg') no-repeat center center;background-size: cover;">
      <div class="container text-white" style="background:rgba(0,0,0,0.6); padding:2rem; border:1px solid rgba(0,0,0,0.2); border-radius:3px;">
        <h1>{{ page.title }}</h1>
        <hr class="my-4">
        <h2 class="lead">{{ page.metadescription }}</h2>
      </div>
    </div>
    <div id="calculator">
      <div class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div>
          <noscript>Please enable JavaScript to use the calculator.</noscript>
          <p>If the spinner is stuck, you may need to upgrade to a more recent version of your web browser.</p>
        </div>
      </div>
    </div>
  </div>

  {% include share-buttons.html %}
  
</div>

<script defer src="{{ site.data.manifest['personalIncomeSpendingFlowchartBundle.js'] }}"></script>

<style type="text/css">
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .2s ease;
}

.slide-fade-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-1000px);
  opacity: 0;
}
.slide-fade-leave
/* .slide-fade-leave-active below version 2.1.8 */ {
  /* transform: translateX(1000px); */
  opacity: 0;
}
</style>