---
layout: default
title: Ultimate Retirement Calculator
metadescription: Ultimate Retirement Calculator factors in pensions, annuities, taxes, inflation and social security to determine the savings you need to become financially independent.
ogimage: https://www.nesteggly.com/img/landscape-egg-2-cropped-vertically.jpg
ogtitle: How much should you save for retirement?
ogdescription: The answer might surprise you.
---
<div class="main-inner">
  <div class="container">
    <div class="jumbotron"
      style="margin-top:2rem; background: url('/img/landscape-egg-2-cropped-vertically-1110x555.jpg') no-repeat center  center;background-size: cover;">
      <div class="container text-white"
        style="background:rgba(0,0,0,0.6); padding:2rem; border:1px solid rgba(0,0,0,0.2); border-radius:3px;">
        <h1>{{ page.title }}</h1>
        <hr class="my-4">
        <h2 class="lead">{{ page.metadescription }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="alert alert-success" role="alert">
          Already in retirement? Our <a href="/investment-withdrawal-calculator" class="alert-link">Investment Withdrawal Calculator</a> might be more suited for you.
        </div>
        <div class="alert alert-warning" role="alert">
          On the verge of retirement? You might like our <a href="/fire-retirement-calculator" class="alert-link">FIRE
            Retirement Calculator</a>.
        </div>
      </div>
    </div>
    <div id="calculator">
      <div class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div>
          <noscript>Please enable JavaScript to use the calculator.</noscript>
          <p>If the spinner is stuck, you may need to upgrade to a more recent version of your web browser.</p>
        </div>
      </div>
    </div>
  </div>
  
  {% include floating-summary.html %}

</div>

{% include adsense-script.html %}

<script defer src="{{ site.data.manifest['retirementCalculatorBundle.js'] }}"></script>