---
layout: default
title: The toilet paper calculator
metadescription: It's the 2020 coronavirus epidemic. Do you have enough toilet paper to last through your quarantine? Use our toilet paper calculator and find out!
ogimage: https://www.nesteggly.com/img/toilet-paper-cropped-vertically.jpg
ogtitle: The toilet paper calculator
ogdescription: Will *you* have enough toilet paper to survive?
---
<div class="main-inner">
  <div class="container">
    <div class="jumbotron"
      style="margin-top:2rem; background: url('/img/toilet-paper-cropped-vertically.jpg') no-repeat center center;background-size: cover;">
      <div class="container text-white" style="background:rgba(0,0,0,0.6); padding:2rem; border:1px solid rgba(0,0,0,0.2); border-radius:3px;">
        <h1>{{ page.title }}</h1>
        <hr class="my-4">
        <h2 class="lead">Do you have enough?</h2>
      </div>
    </div>
    <div id="calculator">
      <div class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div>
          <noscript>Please enable JavaScript to use the calculator.</noscript>
          <p>If the spinner is stuck, you may need to upgrade to a more recent version of your web browser.</p>
        </div>
      </div>
    </div>
  </div>

  {% include share-buttons.html %}

</div>

<script defer src="{{ site.data.manifest['toiletPaperCalculatorBundle.js'] }}"></script>