<h4>Thanks for reading. Feel free to leave a comment.</h4>

{% if jekyll.environment != "development" %}
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ disqusurl }}';
        this.page.identifier = '{{ disqusidentifier }}';
    };
window.onload = (event) => {
    var d = document, s = d.createElement('script');
    s.src = 'https://nesteggly.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
};
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% else" %}
<p>Disqus disabled in development.</p>
{% endif %}
