<div style="position:fixed; bottom: 0px; width: 100%; z-index:9999; pointer-events: none;">
  {% include share-buttons-just-buttons.html %}
  <div class="d-lg-none" style="width: 100%; margin-bottom: 0px; background-color:white; border-top: 1px solid black;">
    <div style="margin: 0 auto; text-align: center;" id='floatingSummary'>
    </div>
  </div>
</div>