<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 d-none d-sm-block item">
                    <img src="/img/egg-black-bg-89x120.gif" width="89" height="120" alt="nesteggly" />
                </div>
                <div class="col-sm-3 item">
                    <h3>Sitemap</h3>
                    <ul>
                        <li class="mb-2"><a href="/privacy">Privacy</a></li>
                        <li class="mb-2"><a href="mailto:&#110;&#101;&#115;&#116;&#101;&#103;&#103;&#108;&#121;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Contact</a></li>
                    </ul>
                    <br />
                </div>
                <div class="col-sm-6 col-md-6 item text">
                    <h4 class="brand" style="margin:0;">{{ site.title }}</h4>
                    <p>{{ site.slogan }}</p>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col mb-5 d-none d-sm-block item social">
                    <a href="{{ site.facebook }}" aria-label="Facebook"><img src="/img/fb.svg" alt="Facebook"></a>
                    <a href="{{ site.twitter }}" aria-label="Twitter"><img src="/img/twitter.svg" alt="Twitter"></a>
                    <a href="{{ site.linkedin }}" aria-label="LinkedIn"><img src="/img/linkedin.svg" alt="LinkedIn"></a>

                    <p class="copyright d-none d-sm-block">&copy; nesteggly est. 2020</p>
                </div>
            </div>
        </div>
    </footer>
</div>