<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.metadescription | default: site.description | strip_html | normalize_whitespace | truncate: 280 | escape }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="/icons/site.webmanifest">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#28a745">

  <meta property="og:type" content="website" />
  {% if page.ogimage %}
  <meta name="og:image" content="{{ page.ogimage }}" />
  {% endif %}  
  {% if page.ogtitle %}
  <meta name="og:title" content="{{ page.ogtitle }}" />
  {% endif %}
  {% if page.ogdescription %}
  <meta name="og:description" content="{{ page.ogdescription }}" />
  {% endif %}

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  {% include styles.html %}
  
</head>