<div class="card">
    <div class="card-header">
        <h5><strong>James Jones</strong></h5>
        <p>Software engineer. Fintech industry veteran. B.S. Software Engineering from The Pennsylvania State University.</p>
        <p>Founder &amp; CEO of Nesteggly</p>
    </div>
    <div class="card-body">
        <small>This article is for informational purposes only and is not a substitute for professional financial advice. Please consult a certified financial professional before making any financial decisions.</small>
    </div>
</div>