<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <a class="navbar-brand brand" href="/">
    <img
      src="/img/egg-green-bg-22x30.gif"
      width="22"
      height="30"
      alt="nesteggly"
    />
    nesteggly
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" id="retirementcalculatorTab">
        <a class="nav-link" href="/retirement-calculator"
          >Ultimate Retirement Calculator</a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="calculatorDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Calculators
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          style="min-width:15rem;"
          aria-labelledby="calculatorDropdownMenuLink"
        >
          <a class="dropdown-item" href="/investment-withdrawal-calculator"
            >Investment withdrawal calculator</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fire-retirement-calculator"
            >FIRE retirement calculator</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/mortgage-calculator"
            >Mortgage calculator</a
          >
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="blogDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Blog
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          style="min-width:15rem;"
          aria-labelledby="blogDropdownMenuLink"
        >
          {% for post in site.posts %}
          <a class="dropdown-item" href="{{ post.url }}">{{ post.title }}</a>
          {% if forloop.last == false %}
          <div class="dropdown-divider"></div>
          {% endif %} {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>

<style type="text/css">
  .dropdown-item {
    white-space: pre-wrap;
  }
</style>
