<div
  style="margin: 0 auto; margin-bottom: 0.5em; width:19em; text-align: center;"
>
  <a
    aria-label="Facebook"
    target="_blank"
    rel="noreferrer"
    style="pointer-events: auto;"
    href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | url_encode}}{{ page.url | url_encode }}"
    onclick="gtag('event', 'Share')"
    ><img
      style="margin-right:2em; height: 3em; width: 3em"
      src="/img/fb.svg"
      alt="Facebook"
  /></a>

  <a
    aria-label="Twitter"
    target="_blank"
    rel="noreferrer"
    style="pointer-events: auto;"
    href="https://twitter.com/intent/tweet?text=Check%20this%20out%3A%20%27{{ page.title | url_encode }}%27%20{{ site.url | url_encode }}{{ page.url | url_encode }}%20by%20%40nesteggly"
    onclick="gtag('event', 'Share')"
    ><img
      style="margin-right:2em; height: 3em; width: 3em"
      src="/img/twitter.svg"
      alt="Twitter"
  /></a>

  <a
    aria-label="LinkedIn"
    target="_blank"
    rel="noreferrer"
    style="pointer-events: auto;"
    href="https://www.linkedin.com/shareArticle?url={{ site.url | url_encode }}{{ page.url | url_encode }}"
    onclick="gtag('event', 'Share')"
    ><img
      style="margin-right:2em; height: 3em; width: 3em"
      src="/img/linkedin.svg"
      alt="LinkedIn"
  /></a>

  <a
    aria-label="LinkedIn"
    target="_blank"
    rel="noreferrer"
    style="pointer-events: auto;"
    href="https://www.reddit.com/submit?url={{ site.url | url_encode }}{{ page.url | url_encode }}&title=Check%20this%20out%3A%20%27{{ page.title | url_encode }}%27"
    onclick="gtag('event', 'Share')"
    ><img style="height: 3em; width: 3em" src="/img/reddit.svg" alt="Reddit"
  /></a>
</div>
