<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://nesteggly.us19.list-manage.com/subscribe/post?u=b6879e8830f22e0f8e9667dd7&amp;id=9ab73c266e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <h4>Was this article useful? Subscribe to our newsletter.</h4>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="mce-EMAIL">Email Address </label>
                    <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                </div>
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b6879e8830f22e0f8e9667dd7_9ab73c266e" tabindex="-1" value=""></div>
            <div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Subscribe</button></div>
        </div>  
    </form>
</div>
<!--End mc_embed_signup-->