{% if jekyll.environment != "development" %}
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js');
    });
  }
</script>
{% else %}
<script>
  navigator.serviceWorker.getRegistrations().then(
    function(registrations) {
      for(let registration of registrations) {  
          registration.unregister();
      }
  });
  if ('caches' in window) {
    caches.keys()
      .then(function(keyList) {
          return Promise.all(keyList.map(function(key) {
              return caches.delete(key);
          }));
      })
  }
</script>
{% endif %}
