// 🎌 FULL VIEWPORT 🎌

header{
  padding: 0.25rem;
  h1{
    text-align: center;
    color: $vueblue;
  }
  background-color: $vuegreen;
}

.bd-content > h1,
.bd-content > h2,
.bd-content > h3,
.bd-content > h4,
.bd-content > h5 {
  padding-top: 25px;
  padding-bottom: 15px;
}

.environment{
  text-align: center;
  margin-top: 5rem;
}

.accordion-header > a {
  display: block;
  position: relative;
}
.accordion-header > a:after {
  content: "▲";
  float: right;
  transition: all 0.5s;
}
.accordion-header > a[aria-expanded="true"]:after {
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 transform: rotate(180deg);
}