// adaptive rem-based sizing
html{
  font-size: 14px;
  @include responsive(medium-screens){
    font-size: 16px;
  }
  @include responsive(wide-screens){
    font-size: 20px;
  }
  // @include responsive(ultra-wide-screens){
  //   font-size: 24px;
  // }
  // @include responsive(extra-ultra-wide-screens){
  //   font-size: 30px;
  // }
  // @include responsive(extra-extra-ultra-wide-screens){
  //   font-size: 40px;
  // }
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $black;
  font-size: 1rem;
}

p {
  margin-bottom: 1.3rem;
}

h1, h2, h3, h4 {
  margin: 1.414Rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

small, .font_small {
  font-size: 0.9rem;
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/montserrat/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('/fonts/montserrat/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/montserrat/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/montserrat/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/montserrat/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/montserrat/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

.brand {
  font-weight: 300;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif;
}
