<template>
  <div>
    <div class="row">
      <div id="marketaccordion" style="width:100%;">
        <div class="card">
          <div class="card-header" id="heading-2">
            <h5 class="mb-0 accordion-header">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                Market assumptions
              </a>
            </h5>
          </div>
          <div id="collapse-2" class="collapse" data-parent="#marketaccordion" aria-labelledby="heading-2">
            <div class="card-body">
              <div class="row">
                <b-form-group class="col-sm-6"
                              id="roiInputGroup"
                              label="Return on investments:"
                              label-for="roi"
                              description="The annual returns you anticipate to receive in the market over the long term.">
                  <number-input id="roi"
                                v-model="value.roi"
                                min="0"
                                max="10"
                                step="0.1"
                                append="%">
                  </number-input>
                </b-form-group>
                <b-form-group class="col-sm-6"
                              id="inflationInputGroup"
                              label="Inflation:"
                              label-for="inflation"
                              description="The annual rate of inflation you anticipate over the long term.">
                  <number-input id="inflation"
                                v-model="value.inflation"
                                min="0"
                                max="10"
                                step="0.1"
                                append="%">
                  </number-input>
                </b-form-group>
              </div>
              <div class="row">
                <b-form-group class="col-sm-12"
                              id="retirementIncomeTaxRateInputGroup"
                              label="Effective income tax in retirement:"
                              label-for="retirementIncomeTaxRate"
                              description="The proportion of retirement income that will be used to pay for federal, state and local income taxes. This can vary a lot depending on the source of your retirement funds. You may want to consult a tax professional to determine your individual tax liability.">
                    <number-input id="retirementIncomeTaxRate"
                                  v-model="value.retirementIncomeTaxRate"
                                  min="0"
                                  max="40"
                                  step="1"
                                  append="%">
                    </number-input>
                </b-form-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="ssaccordion" style="width:100%;">
        <div class="card">
          <div class="card-header" id="heading-1">
            <h5 class="mb-0 accordion-header">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                Social security/pension assumptions
              </a>
            </h5>
          </div>
          <div id="collapse-1" class="collapse" data-parent="#ssaccordion" aria-labelledby="heading-1">
            <div class="card-body">
              <div class="row">
                <b-form-group class="col-sm-6"
                              id="socialSecurityIncomeInputGroup"
                              label="Social security:"
                              label-for="socialSecurityIncome">
                  <number-input id="socialSecurityIncome"
                                v-model="value.socialSecurityIncome"
                                min="0"
                                max="100000"
                                step="1000"
                                prepend="$">
                  </number-input>
                  <small class="form-text text-muted"><p>Annual income from social security or other inflation-indexed income source. Expressed in terms of the first payment received at the time it will be taken.</p><p>You can <a href='https://www.ssa.gov/OACT/quickcalc/'>visit SSA.gov</a> for an estimate of your future social security benefit. Be sure to use the 'inflated (future) dollars' option and account for the possibility of a potential 25% reduction in benefits.</p></small>
                </b-form-group>
                <b-form-group class="col-sm-6"
                    id="ssAgeInputGroup"
                    label="Age social security begins:"
                    label-for="ssAge"
                    description="What age do you plan to receive social security?">
                  <number-input id="ssAge"
                                v-model="value.ssAge"
                                min="62"
                                max="70"
                                step="1"
                                append="years old">
                  </number-input>
                </b-form-group>
              </div>
              <div class="row">
                <b-form-group class="col-sm-6"
                              id="fixedIncomeInputGroup"
                              label="Pension/fixed annuity:"
                              label-for="fixedIncome"
                              description="Annual income from a pension, annuity or fixed income that remains constant (in other words, NOT indexed for inflation).">
                  <number-input id="fixedIncome"
                                v-model="value.fixedIncome"
                                min="10"
                                max="100000"
                                step="1000"
                                prepend="$">
                  </number-input>
                </b-form-group>
                <b-form-group class="col-sm-6"
                    id="pensionAgeInputGroup"
                    label="Age pension/annuity begins:"
                    label-for="pensionAge"
                    description="What age do you plan to receive your pension or fixed annuity? If pension begins between retirement and current age, it's assumed the pension will be fully invested to be used later on during retirement. If you want to disable this behavior, set the pension equal to the retirement age.">
                  <number-input id="pensionAge"
                                v-model="value.pensionAge"
                                min="18"
                                max="80"
                                step="1"
                                append="years old">
                  </number-input>
                </b-form-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="eolaccordion" style="width:100%;">
        <div class="card">
          <div class="card-header" id="heading-3">
            <h5 class="mb-0 accordion-header">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                End-of-life assumptions
              </a>
            </h5>
          </div>
          <div id="collapse-3" class="collapse" data-parent="#eolaccordion" aria-labelledby="heading-3">
            <div class="card-body">
              <div class="row">
                <b-form-group class="col-sm-6"
                              id="deathAgeInputGroup"
                              label="Death age:"
                              label-for="deathAge"
                              description="This is when your savings will be fully spent unless you decide to leave an estate behind. If you're young and healthy, you should plan conservatively and plan to live 90 to 100 years.">
                  <number-input id="deathAge"
                                v-model="value.deathAge"
                                min="18"
                                max="120"
                                step="1"
                                append="years old">
                  </number-input>
                </b-form-group>
                <b-form-group class="col-sm-6"
                              id="estateSizeInputGroup"
                              label="Size of estate:"
                              label-for="estateSize"
                              description="The size of the estate you'd like to leave behind. If your intent is to leave a gift to charity, consider a charitable gift annuity instead. The benefits are three-fold: preferable tax treatment, hedge your longevity risk and fulfill your calling to give back to the world all at once.">
                    <number-input id="estateSize"
                                  v-model="value.estateSize"
                                  min="0"
                                  max="1000000"
                                  step="1000"
                                  prepend="$">
                    </number-input>
                </b-form-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

export default {
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  watch: {
    value() {
        this.$emit('input', this.value);
    }
  }
};

</script>