<template>
  <div id="visibilityTrigger">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col">
            <b-form-group id="equityBalanceInputGroup"
                          label="First, what is your current equity balance?"
                          label-for="equityBalance">
              <number-input id="equityBalance" 
                            v-model="equityBalance"
                            min="20000"
                            max="1000000"
                            step="10000"
                            prepend="$" />
              <small class="form-text text-muted">This equity must be usable as collateral for the margin you'll be using to execute this strategy. Your equity balance will be compared to the notional value of the puts you'll be selling. This is done in order to right-size the strike prices and the overall risk you'll be taking on. The lower your equity is relative to the notional contract value, the deeper your contracts will be out-of-the-money.</small>
            </b-form-group>
          </div>
        </div>
        
        <div class="row">
          <b-form-group class="col"
                        id="sharePriceInputGroup"
                        label="Target share price:"
                        label-for="sharePrice"
                        description="What is your assessment of a fair value for the stock you'd like to own? In other words, the price at which you're indifferent to buying or selling. If unsure, this can be the stock's current price or recent all-time high.">
            <number-input id="sharePrice"
                          v-model="sharePrice"
                          min="10"
                          max="500"
                          step="1"
                          prepend="$" />
          </b-form-group>
        </div>

        <div class="row">
          <div id="ssaccordion" style="width:100%;">
            <div class="card">
              <div class="card-header" id="heading-1">
                <h5 class="mb-0 accordion-header">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                    Assumptions
                  </a>
                </h5>
              </div>
              <div id="collapse-1" class="collapse" data-parent="#ssaccordion" aria-labelledby="heading-1">
                <div class="card-body">
                  <div class="row">
                    <b-form-group class="col"
                                  id="putQuantityInputGroup"
                                  label="Quantity of puts:"
                                  label-for="putQuantity"
                                  description="How many put contracts would you like to sell at each price point? For most cases 1 contract is sufficient but you can increase this factor if the share price is abnormally low or if you have particularly deep pockets and desire more coarse-grained entry points.">
                      <number-input id="putQuantity"
                                    v-model="putQuantity"
                                    min="1"
                                    max="20"
                                    step="1"
                                    append="contract(s)" />
                    </b-form-group>
                  </div>

                  <div class="row">
                    <b-form-group class="col-sm-6"
                                  id="initialMarginInputGroup"
                                  label="Initial margin:"
                                  label-for="initialMargin"
                                  description="The worst-case initial margin provided by your broker. Under normal conditions, this value can be between 15% and 50%, but brokers tend to change these things on a moment's notice. Further, there are conditions in which you can encounter issues executing trades if you're too close to your initial margin limit, so it's wise to apply a margin of safety here. Once this limit is exceeded you may be restricted from making trades which could negatively impact margin.">
                      <number-input id="initialMargin"
                                    v-model="initialMargin"
                                    min="0"
                                    max="100"
                                    step="1"
                                    append="%" />
                    </b-form-group>
                    <b-form-group class="col-sm-6"
                                  id="maintMarginInputGroup"
                                  label="Maintenance margin:"
                                  label-for="maintMargin"
                                  description="The worst-case maintenance margin provided by your broker. Once this limit is exceeded your assets will be liquidated until this ratio is restored. For a margin of safety, you should double whatever your broker specifies and purchase protective puts at that level.">
                      <number-input id="maintMargin"
                                    v-model="maintMargin"
                                    min="0"
                                    max="100"
                                    step="1"
                                    append="%" />
                    </b-form-group>
                  </div>

                  <div class="row">
                    <b-form-group class="col"
                                  id="martingaleFactorInputGroup"
                                  label="Martingale scaling factor:"
                                  label-for="martingaleFactor"
                                  description="For every $1 dip in value of the stock you're buying, how much should you buy? At $1 this would be a pure Martingale strategy, which is too risky for any realistic purpose. A more realistic value is $0.33. Lower values here will help you survive more severe dips.">
                      <number-input id="martingaleFactor"
                                    v-model="martingaleFactor"
                                    min="1"
                                    max="100"
                                    step="1"
                                    append="%" />
                    </b-form-group>
                  </div>

                  <div class="row">
                    <b-form-group class="col"
                                  id="emergencyFundInputGroup"
                                  label="Emergency fund:"
                                  label-for="emergencyFund"
                                  description="Although a cash allocation is not generally recommended for the purposes of this strategy, a small emergency fund can come in handy in the event the market crashes in historic fashion and you need to make a margin call. You can quantify the effects of utilizing your emergency fund for this purpose by providing a value in this field.">
                      <number-input id="emergencyFund"
                                    v-model="emergencyFund"
                                    min="0"
                                    max="25000"
                                    step="1000"
                                    prepend="$" />
                    </b-form-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row d-lg-none">
          <div class="col" v-if="pricePoints.length <= 1">
            <h4>There is no safe strike price</h4>
            <small class="form-text text-muted">The notional value of the options you're trying to sell (${{ putQuantity * sharePrice * 100 | moneyStringFromDouble }}) is too valuable relative to your equity (${{ equityBalance | moneyStringFromDouble }}). Consider <span v-if="putQuantity > 1">decreasing the quantity of puts you're trying to sell (which is {{ putQuantity }}), </span>increasing your equity or selling puts on cheaper stocks.</small>
          </div>
          <div class="col" v-if="pricePoints.length > 1">
            <square-responsive-adsense />
            <h4>Your initial entry point is...</h4>
            <h3 style="text-align: center;">${{ firstPricePoint | moneyStringFromDouble }}</h3>
            <small class="form-text text-muted">This is the optimum initial strike price for which you could sell {{ putQuantity }} put<span v-if="putQuantity > 1">s</span> and thus begin buying the dip. This represents a {{ firstPercentDecline }}% decline from the original share price. <span v-if="firstPercentDecline < 5">Since {{ firstPercentDecline }}% is not a significant decline, you should consider selling more than {{ putQuantity }} put<span v-if="putQuantity > 1">s</span>.</span></small>
          </div>
        </div>

        <div class="row" v-if="pricePoints.length > 1">
          <div class="col">
            <h4>Here's what it looks like to repeat this process until you reach your initial margin limit...</h4>
            <b-table striped hover responsive sticky-header :items="pricePoints" :fields="pricePointsColumnDefinitions"></b-table>
            <p>At this point you've reached your initial margin limit of {{ initialMargin }}% and may not chase the dip any further.</p>
          </div>
        </div>
        
        <div class="row" v-if="pricePoints.length > 1">
          <div class="col" v-if="liquidationMarginBalance > 0">
            <h4>You will be margin called when your equity falls...</h4>
            <h3 style="text-align: center;">{{ combinedDecline }}%</h3>
            <p>Assuming your equity declines another {{ liquidationPercentDecline }}% from the initial {{ originalPercentDecline }}% decline (for a combined total decline of {{ combinedDecline }}%), your equity may start to be liquidated by your broker as it falls below a value of ${{ liquidationPoint | moneyStringFromDouble }}.</p>
            <p>This is because we assumed you have a maintenance margin requirement of {{ maintMargin }}%<span v-if="emergencyFund === 0"> and your margin balance was ${{ liquidationMarginBalance | moneyStringFromDouble }} at the time of the margin call</span><span v-if="emergencyFund > 0"> and that you used your ${{ emergencyFund | moneyStringFromDouble }} emergency fund to reduce your margin balance to ${{ liquidationMarginBalance | moneyStringFromDouble }} prior to being margin called</span>. If this is too close for comfort, consider adjusting the risk parameters defined within the Assumptions section. Additionally, consider offsetting your trades with protective puts (executed as a bull put spread), using a strike price no lower than ${{ Math.round(maintMargin / 100 * sharePrice * 2) / 2 | moneyStringFromDouble }} (${{ sharePrice }} * {{ maintMargin }}%).</p>
            <p>In the event where you don't purchase protective puts and the assets for which you sold puts became worthless, you may face a margin call as the remainder of your equity falls {{ Math.round(100 * (1 - Math.max(finalMarginBalance - emergencyFund, 0) / (1 - maintMargin / 100) / equityBalance)) }}% peak-to-trough<span v-if="emergencyFund > 0"> (assuming you use your ${{ emergencyFund | moneyStringFromDouble }} emergency fund to mitigate the issue)</span>.</p>
          </div>
          <div class="col" v-if="liquidationMarginBalance <= 0">
            <h4>You will never be margin called.</h4>
            <p>Well, techically you could be, but your ${{ emergencyFund | moneyStringFromDouble }} emergency fund is sufficiently large that you'd be able to cover the full ${{ finalMarginBalance | moneyStringFromDouble }} margin balance if that occurred.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center d-none d-lg-block">
        <div style="margin: 0 auto; position: -webkit-sticky; position: sticky; top: 0;">
          <div class="col" v-if="pricePoints.length <= 1">
            <h4>There is no safe strike price</h4>
            <small class="form-text text-muted">The notional value of the options you're trying to sell (${{ putQuantity * sharePrice * 100 | moneyStringFromDouble }}) is too valuable relative to your equity (${{ equityBalance | moneyStringFromDouble }}). Consider <span v-if="putQuantity > 1">decreasing the quantity of puts you're trying to sell ({{ putQuantity }}), </span>increasing your equity or selling puts on cheaper stocks.</small>
          </div>
          <div class="col" v-if="pricePoints.length > 1">
            <square-responsive-adsense />
            <h4>Your initial entry point:</h4>
            <h3 style="text-align: center;">${{ firstPricePoint | moneyStringFromDouble }}</h3>
            <small class="form-text text-muted">This is the optimum initial strike price for which you could sell {{ putQuantity }} put<span v-if="putQuantity > 1">s</span> and begin buying the dip. This represents a {{ firstPercentDecline }}% decline from the original share price.</small>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <b-button id="generate-url-button" block variant="outline-success" size="lg" class="mt-3" @click="shareUrlToClipboard">
          Generate a URL with these inputs
        </b-button>
        <b-popover
          :target="`generate-url-button`"
          :placement="`top`"
          triggers="click blur"
          :content="`A link was copied to the clipboard.`"></b-popover>
      </div>
    </div>

  </div>
</template>

<script>
import { debounce, doubleFromMoneyString, moneyStringFromDouble } from '../js/sharedFunctions.js';

export default {
  name: "main-content",
  data() {
    return {
      propagationEnabled: false,

      equityBalance: 300000,
      sharePrice: 200,
      putQuantity: 1,
      initialMargin: 75,
      maintMargin: 50,
      martingaleFactor: 33,
      emergencyFund: 0,

      firstPricePoint: null,
      firstPercentDecline: null,
      finalMarginBalance: null,
      liquidationPoint: null,
      liquidationPercentDecline: null,
      liquidationMarginBalance: null,
      originalPercentDecline: null,
      combinedDecline: null,
      pricePoints: [],
      pricePointsColumnDefinitions: [
        {
          key: 'equityBalance',
          formatter: value => {
            return '$' + moneyStringFromDouble(Math.round(value));
          }
        },
        {
          key: 'fallFromPeak',
          formatter: value => {
            return Math.round(value * 100) + '%';
          }
        },
        {
          key: 'marginBalance',
          formatter: value => {
            return '$' + moneyStringFromDouble(Math.round(value));
          }
        },
        {
          key: 'marginEquity',
          formatter: value => {
            return Math.round(value * 1000) / 10 + '%';
          }
        },
        {
          key: 'nextStrikePrice',
          formatter: value => {
            if (value === null) return "—"
            return '$' + moneyStringFromDouble(value);
          },
          variant: 'success',
        },
      ]
    }
  },
  filters: {
    moneyStringFromDouble: moneyStringFromDouble
  },
  methods: {
    recalc: debounce(function () {
      let equityBalance = this.equityBalance;
      let sharePrice = this.sharePrice;
      let putQuantity = this.putQuantity;
      let initialMargin = this.initialMargin / 100;
      let maintMargin = this.maintMargin / 100;
      let martingaleFactor = this.martingaleFactor / 100;
      let emergencyFund = this.emergencyFund;
      let marginBalance = 0;
      let currentStrikePrice = sharePrice;

      let equityLessSharePrice = () => equityBalance - currentStrikePrice * 100 * putQuantity;
      let nextPricePoint = () => martingaleFactor * equityLessSharePrice() / (100 * putQuantity + martingaleFactor * equityLessSharePrice() / currentStrikePrice);
      let marginEquity = () => (equityBalance - marginBalance) / equityBalance;

      this.pricePoints = [];
      while (marginEquity() > initialMargin) {
        let nextPricePointRounded = nextPricePoint().toPrecision(3);
        if (nextPricePointRounded < 100 && nextPricePointRounded >= 1)
        {
          nextPricePointRounded = Math.round(nextPricePointRounded * 2) / 2;
        }
        let pricePoint = {
          equityBalance: equityBalance,
          marginBalance: marginBalance,
          marginEquity: marginEquity(),
          fallFromPeak: 1 - currentStrikePrice / sharePrice,
          nextStrikePrice: nextPricePointRounded,
        };
        
        this.pricePoints.push(pricePoint);

        marginBalance += nextPricePointRounded * 100;
        equityBalance = equityBalance * nextPricePointRounded / currentStrikePrice + nextPricePointRounded * 100;
        currentStrikePrice = nextPricePointRounded;
      }
      let finalPricePoint = this.pricePoints[this.pricePoints.length - 1];
      finalPricePoint.nextStrikePrice = null;
      let liquidationMarginBalance = finalPricePoint.marginBalance - emergencyFund;
      let liquidationPoint = Math.max((liquidationMarginBalance) / (1 - maintMargin), 1);
      let liquidationPercentDecline = 1 - liquidationPoint / finalPricePoint.equityBalance;
      let combinedDecline = 1 - (1 - finalPricePoint.fallFromPeak) * (1 - liquidationPercentDecline);

      this.firstPricePoint = this.pricePoints[0].nextStrikePrice;
      this.firstPercentDecline = Math.round((1 - this.pricePoints[0].nextStrikePrice / sharePrice) * 1000) / 10;
      this.finalMarginBalance = Math.round(finalPricePoint.marginBalance);
      this.liquidationMarginBalance = Math.round(liquidationMarginBalance);
      this.liquidationPoint = Math.round(liquidationPoint);
      this.liquidationPercentDecline = Math.round(liquidationPercentDecline * 100);
      this.originalPercentDecline = Math.round(finalPricePoint.fallFromPeak * 100);
      this.combinedDecline = Math.round(combinedDecline * 100);
      
      // populate floating summary
      let floatingSummary = document.getElementById("floatingSummary");
      let message = "Your initial entry point is $" + moneyStringFromDouble(this.firstPricePoint) + ".";
      if (this.pricePoints.length <= 1)
        message = "There is no safe strike price."
      floatingSummary.innerHTML = "<span style='display: inline-block; margin: 0.5em;'>" + message + "</span>";
    }, 250),
    shareUrlToClipboard() {
      let params = {
        equityBalance: this.equityBalance,
        sharePrice: this.sharePrice,
        putQuantity: this.putQuantity,
        initialMargin: this.initialMargin,
        maintMargin: this.maintMargin,
        martingaleFactor: this.martingaleFactor,
        emergencyFund: this.emergencyFund,
      };

      var esc = encodeURIComponent;
      var query = Object.keys(params)
        .map(k => esc(k) + '=' + esc(params[k]))
        .join('&');

      navigator.clipboard.writeText(window.location.origin + window.location.pathname + '?' + query);
    }
  },
  watch: {
    ...[
      'equityBalance',
      'sharePrice',
      'putQuantity',
      'initialMargin',
      'maintMargin',
      'martingaleFactor',
      'emergencyFund',
    ].reduce((watchers, key) => ({
      ...watchers,
      [key](newVal, oldVal){
        if (this.propagationEnabled) {
          this.recalc();
        }
      }
    }), {}),
  },
  mounted: function() {
// load from query string parameters
    let urlParams = new URLSearchParams(window.location.search);

    if (urlParams.has('equityBalance')) this.equityBalance = doubleFromMoneyString(urlParams.get('equityBalance'));
    if (urlParams.has('sharePrice')) this.sharePrice = doubleFromMoneyString(urlParams.get('sharePrice'));
    if (urlParams.has('putQuantity')) this.putQuantity = doubleFromMoneyString(urlParams.get('putQuantity'));
    if (urlParams.has('initialMargin')) this.initialMargin = doubleFromMoneyString(urlParams.get('initialMargin'));
    if (urlParams.has('maintMargin')) this.maintMargin = doubleFromMoneyString(urlParams.get('maintMargin'));
    if (urlParams.has('martingaleFactor')) this.martingaleFactor = doubleFromMoneyString(urlParams.get('martingaleFactor'));
    if (urlParams.has('emergencyFund')) this.emergencyFund = doubleFromMoneyString(urlParams.get('emergencyFund'));

    // enable propagation when visibilityTrigger is triggered
    let thisRef = this;
    const config = {
      root: null,
      rootMargin: '0px',
      threshold: 0.15
      };
    let observer = new IntersectionObserver(function(entries) {
      const firstEntry = entries[0];
      if (firstEntry.isIntersecting) {
        if (!thisRef.propagationEnabled) {
          thisRef.recalc();
          thisRef.propagationEnabled = true;

          //send usage event to trackers
          if (process.env.NODE_ENV === 'production') {
            gtag('event', 'Calculate');
            fbq('track', 'ViewContent');
          }
        }
      }
    }, config);

    const visibilityTrigger = document.getElementById('visibilityTrigger');
    observer.observe(visibilityTrigger);
  }
}

</script>