<template>
  <div>
    <square-responsive-adsense />
    
    <div v-if="retireToday">
      <h3 style="text-align: center;">You can retire today.</h3>
      <p style="text-align: center;">Perhaps you can take <a href="/investment-withdrawal-calculator">a higher payment than you think</a>.</p>
    </div>

    <div v-if="!retireToday">
      <h4>At this rate, you'll retire when you're...</h4>
      <h3 style="text-align: center;">{{ retirementAge }} years old</h3>
      <small class="form-text text-muted">Or maybe earlier. We rounded up to the nearest whole number just to be safe.</small>
    </div>
  </div>
</template>

<script>
export default {
  props: ['retireToday', 'retirementAge']
}
</script>