<template>
  <div id="visibilityTrigger">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col">
            <p>Tell us a little about yourself and we'll foretell your FIRE future. 🔮</p>
            <b-form-group id="currentAgeInputGroup"
                          label="How old are you?"
                          label-for="currentAge">
              <number-input id="currentAge"
                            v-model="currentAge"
                            min="18"
                            max="80"
                            step="1"
                            append="years old">
              </number-input>
            </b-form-group>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b-form-group id="currentSavingsInputGroup"
                          label="How much have you saved for retirement as of today?"
                          label-for="currentSavings">
              <number-input id="currentSavings"
                            v-model="currentSavings"
                            min="-50000"
                            max="2500000"
                            step="10000"
                            prepend="$">
              </number-input>
            </b-form-group>
          </div>
        </div>
        <div class="row">
          <b-form-group class="col"
                        id="startSavingInputGroup"
                        label="How much are you saving for retirement per year?"
                        label-for="startSaving"
                        description="">
            <number-input id="startSaving"
                          v-model="startSaving"
                          min="0"
                          max="100000"
                          step="1000"
                          prepend="$"
                          append="per year">
            </number-input>
            <small class="form-text text-muted">About ${{ startSavingMonthly }} per month. We'll assume this will increase at the rate of inflation until you retire.</small>
          </b-form-group>
        </div>
        <div class="row">
          <b-form-group class="col"
                        id="desiredLifestyleInputGroup"
                        label="How much money will you spend per year while retired?"
                        label-for="desiredLifestyle">
            <number-input id="desiredLifestyle"
                          v-model="desiredLifestyle"
                          min="50000"
                          max="150000"
                          step="5000"
                          prepend="$"
                          append="per year">
            </number-input>
            <small class="form-text text-muted">In today's after-tax dollars, how much money per year do you think you'll spend in retirement? For a margin of safety, this value should be at least double your most essential expenses. Can you realistically live on ${{ minimumSpendPerMonth }} (in today's dollars) per month for an extended period if you needed to?</small>
          </b-form-group>
        </div>

        <assumptions 
          :value="assumptions"
          @input="(newAssumptions) => {assumptions = newAssumptions}"
        ></assumptions>

        <div class="row d-lg-none">
          <div class="col"> 
            <fire-retirement-summary :retireToday="retireToday" :retirementAge="retirementAge" />
          </div>
        </div>

        <div class="row" v-if="!retireToday">
          <div class="col">
            <h4>When you retire, you should have a lump sum of...</h4>
            <h3 style="text-align: center;">${{ lumpSumAtRetirement }}</h3>
            <small class="form-text text-muted">
              <p>This is the lump sum you'll live on in retirement in addition to your supplemental income (social security, etc.). Assumes you continue contributing ${{ startSavingMoneyString }} toward retirement per year increasing at the rate of inflation until you retire.</p>
              <p>At the time of retirement, this will provide a pre-tax income of ${{ retirementIncome }}, which may increase at the rate of inflation throughout retirement. We arrived at ${{ retirementIncome }} as your desired pre-tax retirement income because you indicated you wanted a post-tax income of ${{ desiredLifestyleMoneyString }} adjusted at a {{ assumptions.inflation }}% rate of inflation for when you retire at {{ retirementAge }} years old.</p>
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h4>Here's your retirement savings over time</h4>
            <canvas id="balanceChart" width="200" height="100"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Here's a look at your sources of income in retirement</h4>
            <canvas id="incomeChart" width="200" height="100"></canvas>
            <small class="form-text text-muted">This is a projection into the future. Actual outcomes may vary. This is due to various factors including market performance and your individual investment decisions. Be sure to routinely review your financial situation and make adjustments accordingly. This may mean lowering your lifestyle expenditure. Be sure to use conservative assumptions and consult a financial professional.</small>
          </div>
        </div>

      </div>
      <div class="col-lg-4 text-center d-none d-lg-block">
        <div style="margin: 0 auto; position: -webkit-sticky; position: sticky; top: 0;">
          <fire-retirement-summary :retireToday="retireToday" :retirementAge="retirementAge" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b-button block v-b-toggle.collapse-1 variant="outline-secondary" size="lg" class="mt-3">See the data</b-button>
        <b-collapse id="collapse-1" class="mt-2">
          <b-table striped hover responsive sticky-header :items="proof" :fields="proofHeaders"></b-table>
        </b-collapse>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <b-button id="generate-url-button" block variant="outline-success" size="lg" class="mt-3" @click="shareUrlToClipboard">
          Generate a URL with these inputs
        </b-button>
        <b-popover
          :target="`generate-url-button`"
          :placement="`top`"
          triggers="click blur"
          :content="`A link was copied to the clipboard.`"></b-popover>
      </div>
    </div>

  </div>
</template>

<script>
import { generateNewProof, generateGraphs } from '../js/proofAndGraphCalcs.js';
import { debounce, doubleFromMoneyString, moneyStringFromDouble, assignAssumptionParamsFromClipboard } from '../js/sharedFunctions.js';

export default {
  name: "main-content",
  data() {
    return {
      propagationEnabled: false,

      startSaving: 23000,
      desiredLifestyle: 55000,
      currentAge: 40,
      currentSavings: 100000,
      assumptions: {
        roi: 6.7,
        inflation: 2.4,
        retirementIncomeTaxRate: 20,
        ssAge: 67,
        socialSecurityIncome: 30000,
        pensionAge: 60,
        fixedIncome: 0,
        deathAge: 100,
        estateSize: 0
      },

      retirementAge: null,
      lumpSumAtRetirement: null,
      retirementIncome: null,
      proof: [],
      proofHeaders: [
        {
          key: 'age'
        },
        {
          key: 'savings',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'contribution',
          label: 'Contribution (income)',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'interest',
          label: 'Market return',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'otherIncome',
          label: 'SS or Pension',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'netGain',
          label: 'Net change',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        }
      ],

      retireToday: null
    }
  },
  computed: {
    startSavingMonthly: function() {
      return moneyStringFromDouble(Math.round(this.startSaving / 12)); 
    },
    startSavingMoneyString: function() {
      return moneyStringFromDouble(Math.round(this.startSaving)); 
    },
    desiredLifestyleMoneyString: function() {
      return moneyStringFromDouble(Math.round(this.desiredLifestyle)); 
    },
    minimumSpendPerMonth: function() {
      return moneyStringFromDouble(Math.round(this.desiredLifestyle / 12 / 2)); 
    }
  },
  methods: {
    recalcRetirementAge: debounce(function() {
      let startSaving = this.startSaving;
      let desiredLifestyle = this.desiredLifestyle;
      let currentAge = this.currentAge;
      let currentSavings = this.currentSavings;
      let roi = this.assumptions.roi / 100;
      let inflation = this.assumptions.inflation / 100;
      let retirementIncomeTaxRate = this.assumptions.retirementIncomeTaxRate / 100;
      let ssAge = this.assumptions.ssAge;
      let socialSecurityIncome = this.assumptions.socialSecurityIncome;
      let pensionAge = this.assumptions.pensionAge;
      let fixedIncome = this.assumptions.fixedIncome;
      let deathAge = this.assumptions.deathAge;
      let estateSize = this.assumptions.estateSize;

      let retirementAge = 0;
      ssAge = Math.max(ssAge, currentAge);
      pensionAge = Math.max(pensionAge, currentAge);

      if (roi === 0) {
        roi += 0.0001;
      }

      for (retirementAge = currentAge; retirementAge < deathAge; retirementAge++) {
        let yearsFromRetirement = retirementAge - currentAge;
        let yearsInRetirement = deathAge - retirementAge;
        let socialSecurityDelay = ssAge - retirementAge;
        let pensionDelay = pensionAge - retirementAge;

        let retirementLifestyle = desiredLifestyle * Math.pow(1 + inflation, yearsFromRetirement);

        let retirementLifestyleBeforeTaxes = retirementLifestyle / (1 - retirementIncomeTaxRate);

        let presentValueOfSSAtTimeOfWithdrawals = null;
        if (roi === inflation) {
          presentValueOfSSAtTimeOfWithdrawals = socialSecurityIncome * (yearsInRetirement - socialSecurityDelay) / (1 + inflation);
        } else {
          presentValueOfSSAtTimeOfWithdrawals = socialSecurityIncome / (roi - inflation) * (1 - Math.pow((1 + inflation) / (1 + roi), yearsInRetirement - socialSecurityDelay));
        }

        let presentValueOfFixedIncomeAtTimeOfWithdrawals = fixedIncome * (1 - Math.pow(1 + roi, -(yearsInRetirement - pensionDelay))) / roi;

        let presentValueOfSSAtRetirement = presentValueOfSSAtTimeOfWithdrawals / Math.pow(1 + roi, socialSecurityDelay);
        let presentValueOfFixedIncomeAtRetirement = presentValueOfFixedIncomeAtTimeOfWithdrawals / Math.pow(1 + roi, pensionDelay);
        let presentValueOfFinalEstate = estateSize / Math.pow(1 + roi, yearsInRetirement);

        let lumpSumNeededAtRetirement = null;
        if (roi === inflation) {
          lumpSumNeededAtRetirement = retirementLifestyleBeforeTaxes * yearsInRetirement / (1 + inflation) - presentValueOfSSAtRetirement - presentValueOfFixedIncomeAtRetirement + presentValueOfFinalEstate;
        } else {
          lumpSumNeededAtRetirement = retirementLifestyleBeforeTaxes / (roi - inflation) * (1 - Math.pow((1 + inflation) / (1 + roi), yearsInRetirement)) - presentValueOfSSAtRetirement - presentValueOfFixedIncomeAtRetirement + presentValueOfFinalEstate;
        }
      
        let currentSavingsCompounded = currentSavings * Math.pow(1 + roi, yearsFromRetirement);

        let contributionsCompounded = null;
        if (roi === inflation) {
          contributionsCompounded = startSaving * yearsFromRetirement * Math.pow(1 + inflation, yearsFromRetirement - 1);
        } else {
          contributionsCompounded = startSaving * (Math.pow(1 + roi, yearsFromRetirement) - Math.pow(1 + inflation, yearsFromRetirement)) / (roi - inflation);
        }

        let lumpSumProjectedToHaveAtRetirement = currentSavingsCompounded + contributionsCompounded;

        let lumpSumGap = lumpSumNeededAtRetirement - currentSavingsCompounded - contributionsCompounded;

        if (lumpSumGap < 0) {
          this.retireToday = retirementAge === currentAge;
          this.retirementAge = retirementAge;

          if (ssAge < retirementAge) {
            let ssYearsBeforeRetirement = retirementAge - ssAge;

            let accumulatedValueOfSSAtRetirement = null;
            if (roi === inflation) {
              accumulatedValueOfSSAtRetirement = socialSecurityIncome * ssYearsBeforeRetirement * Math.pow(1 + inflation, ssYearsBeforeRetirement - 1);
            } else {
              accumulatedValueOfSSAtRetirement = socialSecurityIncome * (Math.pow(1 + roi, ssYearsBeforeRetirement) - Math.pow(1 + inflation, ssYearsBeforeRetirement)) / (roi - inflation);
            }
            lumpSumProjectedToHaveAtRetirement += accumulatedValueOfSSAtRetirement;
          }
          if (pensionAge < retirementAge) {
            let pensionYearsBeforeRetirement = retirementAge - pensionAge;
            let accumulatedValueOfPensionAtRetirement = fixedIncome * (Math.pow(1 + roi, pensionYearsBeforeRetirement) - 1) / (roi);
            lumpSumProjectedToHaveAtRetirement += accumulatedValueOfPensionAtRetirement;
          }

          this.lumpSumAtRetirement = moneyStringFromDouble(Math.round(lumpSumProjectedToHaveAtRetirement));
          this.retirementIncome = moneyStringFromDouble(Math.round(retirementLifestyleBeforeTaxes));
          break;
        }
      }
      
      // populate floating summary
      let floatingSummary = document.getElementById("floatingSummary");
      if (this.retireToday) {
        floatingSummary.innerHTML = "<span style='display: inline-block; margin: 0.5em;'>You can retire today.</span>";
      } else {
        floatingSummary.innerHTML = "<span style='display: inline-block; margin: 0.5em;'>At this rate, you'll retire when you're " + this.retirementAge + ".</span>";
      }

      // recalc proof
      let newProof = generateNewProof(desiredLifestyle, retirementIncomeTaxRate, currentSavings, startSaving, roi, inflation, currentAge, retirementAge, deathAge, ssAge, pensionAge, socialSecurityIncome, fixedIncome);
      this.proof = newProof;

      var balanceChartElement = document.getElementById('balanceChart').getContext('2d');
      var incomeChartElement = document.getElementById('incomeChart').getContext('2d');

      generateGraphs(balanceChartElement, incomeChartElement, newProof, retirementAge, deathAge);
    }, 250),
    shareUrlToClipboard() {
      let params = {
        startSaving: this.startSaving,
        desiredLifestyle: this.desiredLifestyle,
        currentAge: this.currentAge,
        currentSavings: this.currentSavings,
        roi: this.assumptions.roi,
        inflation: this.assumptions.inflation,
        retirementIncomeTaxRate: this.assumptions.retirementIncomeTaxRate,
        ssAge: this.assumptions.ssAge,
        socialSecurityIncome: this.assumptions.socialSecurityIncome,
        pensionAge: this.assumptions.pensionAge,
        fixedIncome: this.assumptions.fixedIncome,
        deathAge: this.assumptions.deathAge,
        estateSize: this.assumptions.estateSize
      };

      var esc = encodeURIComponent;
      var query = Object.keys(params)
        .map(k => esc(k) + '=' + esc(params[k]))
        .join('&');

      navigator.clipboard.writeText(window.location.origin + window.location.pathname + '?' + query);
    }
  },
  watch: {
    ...[
      'startSaving',
      'desiredLifestyle',
      'currentAge',
      'currentSavings',
      'assumptions.roi',
      'assumptions.inflation',
      'assumptions.retirementIncomeTaxRate',
      'assumptions.ssAge',
      'assumptions.socialSecurityIncome',
      'assumptions.pensionAge',
      'assumptions.fixedIncome',
      'assumptions.deathAge',
      'assumptions.estateSize',
    ].reduce((watchers, key) => ({
      ...watchers,
      [key](newVal, oldVal){
        if (this.propagationEnabled){
          this.recalcRetirementAge();
        }
      }
    }), {}),
  },
  mounted: function() {
    let urlParams = new URLSearchParams(window.location.search);

    // optionally hide upsells to other calculators
    if (urlParams.has('d')) {
      var calcUpsell = document.getElementById('calcUpsell');
      calcUpsell.style.display = "none";
    }

    if (urlParams.has('startSaving')) this.startSaving = doubleFromMoneyString(urlParams.get('startSaving'));
    if (urlParams.has('desiredLifestyle')) this.desiredLifestyle = doubleFromMoneyString(urlParams.get('desiredLifestyle'));
    if (urlParams.has('currentAge')) this.currentAge = doubleFromMoneyString(urlParams.get('currentAge'));
    if (urlParams.has('currentSavings')) this.currentSavings = doubleFromMoneyString(urlParams.get('currentSavings'));

    assignAssumptionParamsFromClipboard(urlParams, this.assumptions);

    // enable propagation when visibilityTrigger is triggered
    let thisRef = this;
    const config = {
      root: null,
      rootMargin: '0px',
      threshold: 0.15
      };
    let observer = new IntersectionObserver(function(entries) {
      const firstEntry = entries[0];
      if (firstEntry.isIntersecting) {
        if (!thisRef.propagationEnabled) {
          thisRef.recalcRetirementAge();
          thisRef.propagationEnabled = true;

          //send usage event to trackers
          if (process.env.NODE_ENV === 'production') {
            gtag('event', 'Calculate');
            fbq('track', 'ViewContent');
          }
        }
      }
    }, config);

    const visibilityTrigger = document.getElementById('visibilityTrigger');
    observer.observe(visibilityTrigger);
  }
}

</script>