<template>
  <div id="visibilityTrigger">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col">
            <p>To calculate your investment withdrawal amount for this year, we'll need to answer a few questions.</p>
            <b-form-group id="currentSavingsInputGroup"
                          label="First, how much are your investments presently worth?"
                          label-for="currentSavings"
                          description="Add up all of your income-producing assets that you plan to live off of. This includes 401k, IRA, TSP, brokerage accounts, savings bonds and investment property.">
              <number-input id="currentSavings"
                            v-model="currentSavings"
                            min="0"
                            max="4000000"
                            step="10000"
                            prepend="$">
              </number-input>
            </b-form-group>
          </div>
        </div>
        <div class="row">
          <b-form-group class="col-sm-12"
                        id="currentAgeInputGroup"
                        label="Current age:"
                        label-for="currentAge"
                        description="How old are you?">
            <number-input id="currentAge"
                          v-model="currentAge"
                          min="18"
                          max="100"
                          step="1"
                          append="years old">
            </number-input>
          </b-form-group>
        </div>
        
        <assumptions 
          :value="assumptions"
          @input="(newAssumptions) => {assumptions = newAssumptions}"
        ></assumptions>

        <div class="row text-center">
          <div class="col">
            <square-responsive-adsense class="d-lg-none" />
            <h4>You can safely withdraw...</h4>
            <h3 style="text-align: center;">${{ withdrawalRate }} <small>this year</small></h3>
            <small class="form-text text-muted">Or {{ swr }}% of your investments.</small>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <small class="form-text text-muted mt-3">
              <p>The ${{ withdrawalRate }} withdrawal amount translates to a monthly withdrawal amount of ${{ monthlyWithdrawalRate }} or a quarterly withdrawal amount of ${{ quarterlyWithdrawalRate }}. This amount doesn't include your pension or social security if they've already started.</p>
              <p>Based on your effective tax assumption of {{ assumptions.retirementIncomeTaxRate }}% your annual after-tax income is ${{ retirementLifestyleAfterTaxes }}. We've planned it such that your overall income over time will increase at rate of inflation of {{ assumptions.inflation }}%. However, future withdrawal amounts will largely depend on whether your investments meet your long-term growth assumption of {{ assumptions.roi }}%.</p>
              <p>You should also anticipate the short-term possibility of reducing this withdrawal amount by as much as 50% in the event your assets suffer an equivalent loss. As frequently as reasonable you should recalculate how much you can safely withdraw from your investments.</p>
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h4>Here's your investment balance over time</h4>
            <canvas id="balanceChart" width="200" height="100"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Here's a look at your sources of income in retirement</h4>
            <canvas id="incomeChart" width="200" height="100"></canvas>
            <small class="form-text text-muted">This is a projection into the future. Actual outcomes may vary. This is due to various factors including market performance and your individual investment decisions. Be sure to routinely review your financial situation and make adjustments accordingly. This may mean lowering your lifestyle expenditure. Be sure to use conservative assumptions and consult a financial professional.</small>
          </div>
        </div>

      </div>
      <div class="col-lg-4 text-center d-none d-lg-block">
        <div style="margin: 0 auto; position: -webkit-sticky; position: sticky; top: 0;">
          <square-responsive-adsense />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b-button block v-b-toggle.collapse-1 variant="outline-secondary" size="lg" class="mt-3">See the data</b-button>
        <b-collapse id="collapse-1" class="mt-2">
          <b-table striped hover responsive sticky-header :items="proof" :fields="proofHeaders"></b-table>
        </b-collapse>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b-button id="generate-url-button" block variant="outline-success" size="lg" class="mt-3" @click="shareUrlToClipboard">
          Generate a URL with these inputs
        </b-button>
        <b-popover
          :target="`generate-url-button`"
          :placement="`top`"
          triggers="click blur"
          :content="`A link was copied to the clipboard.`"></b-popover>
      </div>
    </div>

  </div>
</template>

<script>
import { generateNewProof, generateGraphs } from '../js/proofAndGraphCalcs.js';
import { debounce, doubleFromMoneyString, moneyStringFromDouble, assignAssumptionParamsFromClipboard } from '../js/sharedFunctions.js';

export default {
  name: "main-content",
  data() {
    return {
      propagationEnabled: false,

      currentSavings: 1000000,
      currentAge: 55,

      assumptions: {
        roi: 6.7,
        inflation: 2.4,
        retirementIncomeTaxRate: 15,
        ssAge: 67,
        socialSecurityIncome: 25000,
        pensionAge: 60,
        fixedIncome: 0,
        deathAge: 100,
        estateSize: 0
      },

      retirementLifestyleAfterTaxes: null,
      withdrawalRate: null,
      monthlyWithdrawalRate: null,
      quarterlyWithdrawalRate: null,
      swr: null,

      proof: [],
      proofHeaders: [
        {
          key: 'age'
        },
        {
          key: 'savings',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'contribution',
          label: 'Personal income',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'interest',
          label: 'Market return',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'otherIncome',
          label: 'SS or Pension',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'netGain',
          label: 'Net change',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        }
      ]
    }
  },
  methods: {
    recalcWithdrawalRate: debounce(function() {
      let currentSavings = this.currentSavings;
      let currentAge = this.currentAge;
      
      let roi = this.assumptions.roi / 100;
      let inflation = this.assumptions.inflation / 100;
      let retirementIncomeTaxRate = this.assumptions.retirementIncomeTaxRate / 100;
      let ssAge = this.assumptions.ssAge;
      let pensionAge = this.assumptions.pensionAge;
      let socialSecurityIncome = this.assumptions.socialSecurityIncome;
      let fixedIncome = this.assumptions.fixedIncome;
      let deathAge = this.assumptions.deathAge;
      let estateSize = this.assumptions.estateSize;

      ssAge = Math.max(ssAge, currentAge);
      pensionAge = Math.max(pensionAge, currentAge);
      let yearsInRetirement = deathAge - currentAge;
      let socialSecurityDelay = ssAge - currentAge;
      let pensionDelay = pensionAge - currentAge;

      if (roi === 0) {
        roi += 0.0001;
      }

      let presentValueOfSSAtTimeOfWithdrawals = null;
      if (roi === inflation) {
        presentValueOfSSAtTimeOfWithdrawals = socialSecurityIncome * (yearsInRetirement - socialSecurityDelay) / (1 + inflation);
      } else {
        presentValueOfSSAtTimeOfWithdrawals = socialSecurityIncome / (roi - inflation) * (1 - Math.pow((1 + inflation) / (1 + roi), yearsInRetirement - socialSecurityDelay));
      }
      let presentValueOfFixedIncomeAtTimeOfWithdrawals = fixedIncome * (1 - Math.pow(1 + roi, -(yearsInRetirement - pensionDelay))) / roi;

      let presentValueOfSS = presentValueOfSSAtTimeOfWithdrawals / Math.pow(1 + roi, socialSecurityDelay);
      let presentValueOfFixedIncome = presentValueOfFixedIncomeAtTimeOfWithdrawals / Math.pow(1 + roi, pensionDelay);
      let presentValueOfFinalEstate = estateSize / Math.pow(1 + roi, yearsInRetirement);

      let totalValueOfSavings = currentSavings + presentValueOfSS + presentValueOfFixedIncome - presentValueOfFinalEstate;

      let firstPayment = null;
      if (roi === inflation) {
        firstPayment = totalValueOfSavings / yearsInRetirement * (1 + inflation);
      } else {
        firstPayment = totalValueOfSavings * (roi - inflation) / (1 - Math.pow((1 + inflation) / (1 + roi), yearsInRetirement));
      }

      let newWithdrawalRate = firstPayment;
      if (ssAge === currentAge) {
        newWithdrawalRate -= socialSecurityIncome;
      }
      if (pensionAge === currentAge) {
        newWithdrawalRate -= fixedIncome;
      }
      
      this.withdrawalRate = moneyStringFromDouble(Math.round(newWithdrawalRate));
      this.retirementLifestyleAfterTaxes = moneyStringFromDouble(Math.round(newWithdrawalRate * (1 - retirementIncomeTaxRate)));
      this.monthlyWithdrawalRate = moneyStringFromDouble(Math.round(newWithdrawalRate / 12));
      this.quarterlyWithdrawalRate = moneyStringFromDouble(Math.round(newWithdrawalRate / 4));
      this.swr = Math.round(newWithdrawalRate / currentSavings * 100 * 10) / 10;
      
      // populate floating summary
      let floatingSummary = document.getElementById("floatingSummary");
      floatingSummary.innerHTML = "<span style='display: inline-block; margin: 0.5em;'>You can safely withdraw $" + this.withdrawalRate + " this year.</span>";
      
      // recalc proof
      let newProof = generateNewProof(firstPayment, 0, currentSavings, 0, roi, inflation, currentAge, currentAge, deathAge, ssAge, pensionAge, socialSecurityIncome, fixedIncome);
      this.proof = newProof;

      var balanceChartElement = document.getElementById('balanceChart').getContext('2d');
      var incomeChartElement = document.getElementById('incomeChart').getContext('2d');

      generateGraphs(balanceChartElement, incomeChartElement, newProof, currentAge, deathAge);
    }, 250),
    shareUrlToClipboard() {
      let params = {
        currentSavings: this.currentSavings,
        currentAge: this.currentAge,

        roi: this.assumptions.roi,
        inflation: this.assumptions.inflation,
        retirementIncomeTaxRate: this.assumptions.retirementIncomeTaxRate,
        ssAge: this.assumptions.ssAge,
        pensionAge: this.assumptions.pensionAge,
        socialSecurityIncome: this.assumptions.socialSecurityIncome,
        fixedIncome: this.assumptions.fixedIncome,
        deathAge: this.assumptions.deathAge,
        estateSize: this.assumptions.estateSize
      };

      var esc = encodeURIComponent;
      var query = Object.keys(params)
        .map(k => esc(k) + '=' + esc(params[k]))
        .join('&');

      navigator.clipboard.writeText(window.location.origin + window.location.pathname + '?' + query);
    }
  },
  watch: {
    ...[
      'currentSavings',
      'currentAge',
      'assumptions.roi',
      'assumptions.inflation',
      'assumptions.retirementIncomeTaxRate',
      'assumptions.ssAge',
      'assumptions.pensionAge',
      'assumptions.socialSecurityIncome',
      'assumptions.fixedIncome',
      'assumptions.deathAge',
      'assumptions.estateSize',
    ].reduce((watchers, key) => ({
      ...watchers,
      [key](newVal, oldVal){
        if (this.propagationEnabled){
          this.recalcWithdrawalRate();
        }
      }
    }), {}),
  },
  mounted: function() {
    // load from query string parameters
    let urlParams = new URLSearchParams(window.location.search);

    if (urlParams.has('currentSavings')) this.currentSavings = doubleFromMoneyString(urlParams.get('currentSavings'));
    if (urlParams.has('currentAge')) this.currentAge = doubleFromMoneyString(urlParams.get('currentAge'));

    assignAssumptionParamsFromClipboard(urlParams, this.assumptions);

    // enable propagation when visibilityTrigger is triggered
    let thisRef = this;
    const config = {
      root: null,
      rootMargin: '0px',
      threshold: 0.15
      };
    let observer = new IntersectionObserver(function(entries) {
      const firstEntry = entries[0];
      if (firstEntry.isIntersecting) {
        if (!thisRef.propagationEnabled) {
          thisRef.recalcWithdrawalRate();
          thisRef.propagationEnabled = true;
          
          //send usage event to trackers
          if (process.env.NODE_ENV === 'production') {
            gtag('event', 'Calculate');
            fbq('track', 'ViewContent');
          }
        }
      }
    }, config);

    const visibilityTrigger = document.getElementById('visibilityTrigger');
    observer.observe(visibilityTrigger);
  }
}
</script>