<template>
<div>
  <div class="row">
    <b-form-group class="col"
                  id="purchasePriceInputGroup"
                  label="Purchase price:"
                  label-for="purchasePrice"
                  description="">
      <b-input-group prepend="$">
        <b-form-input id="purchasePrice"
                      v-model="purchasePrice">
        </b-form-input>
      </b-input-group>
    </b-form-group>
  </div>
  <div class="row">
    <b-form-group :class="[ downPaymentPercentMode ? 'col-sm-6 locked' : 'col-sm-6' ]"
                  id="downPaymentPercentInputGroup"
                  label="Down payment (percent):"
                  label-for="downPaymentPercent"
                  description="Down payments lower than 20% of the purchase price will add PMI to the monthly payment. For condominiums you may need up to 25% down to avoid additional fees or higher rates. For conventional loans, should be at least 5%. FHA and VA loans can offer even lower down payments.">
      <b-input-group prepend="%">
        <b-form-input id="downPaymentPercent"
                      v-model="downPaymentPercent">
        </b-form-input>
        <b-input-group-append data-toggle="tooltip" title="A lock icon here indicates you have a specific percentage down payment in mind (e.g. 20% in order to avoid PMI).">
          <b-input-group-text>
            <img src='/img/lock-locked.svg' class='lock' type='image/svg+xml' style='height: 1em; width: 1em;'>
          </b-input-group-text>
        </b-input-group-append>
      </b-input-group>
    </b-form-group>
    <b-form-group :class="[ !downPaymentPercentMode ? 'col-sm-6 locked' : 'col-sm-6' ]"
                  id="downPaymentInputGroup"
                  label="Down payment (amount):"
                  label-for="downPayment"
                  description="If you have a known amount of money saved up for a down payment, enter it here.">
      <b-input-group prepend="$">
        <b-form-input id="downPayment"
                      v-model="downPayment">
        </b-form-input>            
        <b-input-group-append data-toggle="tooltip" title="A lock icon here indicates you have a specific down payment amount in mind (e.g. a $10,000 down payment fund).">
          <b-input-group-text>
            <img src='/img/lock-locked.svg' class='lock' type='image/svg+xml' style='height: 1em; width: 1em;'>
          </b-input-group-text>
        </b-input-group-append>
      </b-input-group>
    </b-form-group>
  </div>
  <div class="row">
    <b-form-group class="col"
                  id="loanAmountInputGroup"
                  label="Loan amount:"
                  label-for="loanAmount"
                  description="The purchase price less the down payment.">
      <b-input-group prepend="$">
        <b-form-input id="loanAmount"
                      v-model="loanAmount">
        </b-form-input>
      </b-input-group>
    </b-form-group>
  </div>
  <div class="row">
    <b-form-group class="col-sm-6"
                  id="termInputGroup"
                  label="Term:"
                  label-for="term"
                  description="Years until the loan reaches maturity.">
      <b-input-group append="years">
        <b-form-input id="term"
                      v-model="term">
        </b-form-input>
      </b-input-group>
    </b-form-group>
    <b-form-group class="col-sm-6"
                  id="interestRateInputGroup"
                  label="Interest rate:"
                  label-for="interestRate"
                  description="The annual interest rate.">
      <b-input-group append="%">
        <b-form-input id="interestRate"
                      v-model="interestRate">
        </b-form-input>
      </b-input-group>
    </b-form-group>
  </div>
  <div class="row">
    <b-form-group class="col-sm-6"
                  id="mortgagePaymentInputGroup"
                  label="Mortgage payment:"
                  label-for="mortgagePayment"
                  description="The monthly payment on the loan including principal, interest and PMI (if applicable).">
      <b-input-group prepend="$">
        <b-form-input id="mortgagePayment"
                      v-model="mortgagePayment">
        </b-form-input>
      </b-input-group>
    </b-form-group>
    <b-form-group class="col-sm-6"
                  id="pmiInputGroup"
                  label="PMI:"
                  label-for="pmi"
                  description="Monthly mortgage insurance is required for loans over 80% of the purchase price. Typically 0.75% of the loan amount annually.">
      <b-input-group prepend="$">
        <b-form-input id="pmi"
                      v-model="pmi"
                      :readonly=true>
        </b-form-input>
      </b-input-group>
    </b-form-group>
  </div>
  <div class="row">
    <b-form-group class="col"
                  id="insurance2InputGroup"
                  label="Insurance:"
                  label-for="insurance2"
                  description="Annual insurance premiums depend on the age and location of the home, as well as other risk factors such as pools, dangerous pets, type of property (condo/townhome/single family), flooding risk, trampolines and more.">
      <b-input-group prepend="$">
        <b-form-input id="insurance2"
                      v-model="insurance">
        </b-form-input>
      </b-input-group>
    </b-form-group>
  </div>
  <div class="row">
    <b-form-group class="col-sm-6"
                  id="propertyTaxPercentInputGroup"
                  label="Property tax (percent):"
                  label-for="propertyTaxPercent"
                  description="For simplicity, this is calculated from the purchase price. Generally, the taxable assessment value differs from the purchase price. Property tax rates range from 0.5% to 3.5%.">
      <b-input-group append="%">
        <b-form-input id="propertyTaxPercent"
                      v-model="propertyTaxPercent">
        </b-form-input>
      </b-input-group>
    </b-form-group>
    <b-form-group class="col-sm-6"
                  id="tax2InputGroup"
                  label="Property tax (amount):"
                  label-for="tax2"
                  description="Annual property taxes are generally levied at the state, county and local level. Combined, they're referred to as an 'effective property tax rate'. If you know what the property taxes were last year for the property, enter it here.">
      <b-input-group prepend="$">
        <b-form-input id="tax2"
                      v-model="tax">
        </b-form-input>
      </b-input-group>
    </b-form-group>
  </div>
  <div class="row">
    <b-form-group class="col"
                  id="hoaInputGroup"
                  label="HOA dues:"
                  label-for="hoa"
                  description="Expressed as a monthly amount.">
      <b-input-group prepend="$">
        <b-form-input id="hoa"
                      v-model="hoa">
        </b-form-input>
      </b-input-group>
    </b-form-group>
  </div>
  <h4>Factoring all that in, here's your total mortgage payment</h4>
  <div class="row">
    <b-form-group class="col"
                  id="totalMortgagePaymentInputGroup"
                  label-for="totalMortgagePayment"
                  description="Monthly sum of the mortgage payment, insurance, taxes, private mortgage insurance and HOA dues. Editing this field will calculate a new purchase price.">
      <b-input-group prepend="$">
        <b-form-input id="totalMortgagePayment"
                      v-model="totalMortgagePayment">
        </b-form-input>
      </b-input-group>
    </b-form-group>
  </div>

  <div class="row mt-3">
    <div class="col">
        <adsense></adsense>
    </div>
  </div>

  <h3>What if we factor in home price growth?</h3>
  <p>Over the past 50 years, US home prices have appreciated at a rate between 5 and 6 percent. Of course, the past isn't predictive of the future, but even modest home price appreciation has a remarkable effect.</p>
  <p>That being said, this benefit is not without drawbacks. Transaction costs can run quite high when you factor in real estate agent fees, loan fees, staging and time on the market. The longer you own real estate, the more appreciation takes over and makes the transaction costs worth it.</p>
  <div class="row">
    <b-form-group class="col-sm-6"
                  id="transactionCostsInputGroup"
                  label="Transaction costs:"
                  label-for="transactionCosts">
      <b-input-group append="%">
        <b-form-input id="transactionCosts"
                      v-model="transactionCosts">
        </b-form-input>
      </b-input-group>
      <small class="form-text text-muted">The cost of selling a home, expressed as a percentage of the final sale price (${{ purchasePrice }} + ${{ profitOnSale }}). Your transaction cost is ${{ transactionCostsAmount }}.</small>
    </b-form-group>
    <b-form-group class="col-sm-6"
                  id="homePriceGrowthInputGroup"
                  label="Home price growth:"
                  label-for="homePriceGrowth">
      <b-input-group append="%">
        <b-form-input id="homePriceGrowth"
                      v-model="homePriceGrowth">
        </b-form-input>
      </b-input-group>
      <small class="form-text text-muted">At this rate of growth, your home will appreciate ${{ profitOnSale }} over {{ yearsOfOwnership }} years.</small>
    </b-form-group>
  </div>
  <div class="row">
    <b-form-group class="col-sm-6"
                  id="inflationInputGroup"
                  label="Inflation:"
                  label-for="inflation"
                  description="">
      <b-input-group>
        <b-form-input id="inflation"
                      v-model="inflation">
        </b-form-input>
      </b-input-group>
      <small class="form-text text-muted">Inflation affects how your maintenance, HOA dues, and theoretical equivalent rent would grow over time.</small>
    </b-form-group>
    <b-form-group class="col-sm-6"
                  id="maintenanceInputGroup"
                  label="Maintenance/renovations:"
                  label-for="maintenance"
                  description="">
      <b-input-group>
        <b-form-input id="maintenance"
                      v-model="maintenance">
        </b-form-input>
      </b-input-group>
      <small class="form-text text-muted">Expressed as an annual amount. May be higher if the property has deferred maintenance or lower if the property is new or covered by an HOA. These are costs that are typically covered by a landlord.</small>
    </b-form-group>
  </div>
  <div class="row">
    <b-form-group class="col-sm-6"
                  id="investmentOpportunityCostInputGroup"
                  label="Opportunity cost:"
                  label-for="investmentOpportunityCost">
      <b-input-group append="%">
        <b-form-input id="investmentOpportunityCost"
                      v-model="investmentOpportunityCost">
        </b-form-input>
      </b-input-group>
      <small class="form-text text-muted">Buying a home means foregoing investing those funds in other income-producing activities. Had you invested the money you put toward buying a home, it would be worth a net present value of ${{ investmentOpportunityCostAmount }}. This helps us determine an equivalent rent.</small>
    </b-form-group>
    <b-form-group class="col-sm-6"
                  id="yearsOfOwnershipInputGroup"
                  label="Years of ownership:"
                  label-for="yearsOfOwnership"
                  description="">
      <b-input-group>
        <b-form-input id="yearsOfOwnership"
                      v-model="yearsOfOwnership">
        </b-form-input>
      </b-input-group>
      <small class="form-text text-muted">Must be a whole number less than or equal to 50 years.</small>
    </b-form-group>
  </div>
  <h4>Factoring home price growth, here's your effective payment</h4>
  <div class="row">
    <b-form-group class="col"
                  id="rentEquivalentCostInputGroup"
                  label-for="rentEquivalentCost"
                  description="">
      <b-input-group prepend="$">
        <b-form-input id="rentEquivalentCost"
                      v-model="rentEquivalentCost"
                      readonly>
        </b-form-input>
      </b-input-group>
      <small class="form-text text-muted">After-tax payment adjusted for a ${{ profitOnSale }} profit on the sale, ${{ transactionCostsAmount }} transaction cost on sale, and an investment opportunity cost of ${{ investmentOpportunityCostAmount }}.</small>
      <small class="form-text text-muted">This value can be compared to an equivalent rent. If negative, means the house didn't cost anything to own.</small>
    </b-form-group>
  </div>
  <div class="row">
        <div class="col">
          <h4>And here's what your effective payment would be over various ownership periods</h4>
          <canvas id="effectivePaymentChart" width="200" height="100"></canvas>
          <p>When it comes to homeownership, generally it pays to stay put. If you decide to sell after only one year, you will have effectively paid ${{ yearOneCost }} per month. For the cost to be competitive with renting, you will usually want to own the home for at least several years. Your homeownership costs could potentially be as low as ${{ optimalYearCost }} per month if you sold around year {{ optimalYear }}.</p>
          <p>In the very-long-term (approaching 50 years), home ownership typically starts to become slightly more expensive than it would be if you sold earlier. This typically happens when market returns exceed the cost of debt and when investment opportunity costs exceed home price growth. Over time, as you pay your mortgage down, your net worth is increasingly tied up in an asset that does not appreciate as rapidly as other potential investment opportunities. In your case, your home would cost ${{ fiftyYearCost }} per month if you never refinance and sell at year 50. This is why it's wise to view homeownership as a way to reduce your shelter costs relative to renting, and not a market-beating investment.</p>
        </div>
      </div>
  <div class="row">
    <div class="col">
      <b-button id="generate-url-button" block variant="outline-success" size="lg" class="mt-3" @click="shareUrlToClipboard">
        Generate a URL with these inputs
      </b-button>
      <b-popover
        :target="`generate-url-button`"
        :placement="`top`"
        triggers="click blur"
        :content="`A link was copied to the clipboard.`"></b-popover>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
        <adsense></adsense>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>How does this calculator work?</h3>
      <p>Beyond calculating a monthly mortgage payment, we want to know the long-term consequences of renting vs buying. Our intuition tells us owning over a long period is typically cheaper than renting, but how do we quantify this? At the most basic level, what we're trying to achieve is the conversion of some lumpy 'home ownership' cash flows into an equivalent rent-like cash flow.</p>
      <p>Home ownership is comprised of several significant cash flow events — the down payment, the monthly payment, and the proceeds following the sale. Renting, on the other hand is mostly comprised of a monthly payment which increases at the rate of inflation.</p>
      <p>This begs the question of how to compare cash flow events which occur at different points in time. To achieve this, we examine all of the cash flows associated with home ownership, and boil these down to a 'net present value', representing a lump sum which would cover your costs over the ownership period.</p>
      <p>With the values currently plugged into this calculator, the net present value of this purchase decision comes out to ${{ netPresentValue }}. To arrive at an equivalent rent, we simply compute a stream of rent payments (increasing with inflation), such that an equivalent lump sum of ${{ investmentOpportunityCostAmount }} would be completely consumed after {{ yearsOfOwnership }} years. In this case, this theoretical rent would be ${{ rentEquivalentCost }} per month (reflecting what your rental payment would be on year 1). If the market rent of the residence is significantly higher than this and you plan on living there {{ yearsOfOwnership }} years, then purchasing might be a good idea.</p>
      <p>Please note that this calculator does not consider the tax ramifications of home ownership, which can be substantial. The tax deductibility of mortgage interest alone can dramatically tip the calculus in favor of owning. Unfortunately, the dynamic, complex, and uncertain nature of tax deductions makes it prohibitively difficult to incorporate tax deductions into a free online calculator such as this one.</p>
      <p>Also please note that this calculator does not consider the unpredictability of stock market returns and home price appreciation. It assumes returns and appreciation are linear and predictable, even though in reality there can be quite a variance of potential outcomes.</p>
      <p>Nor does the calculator consider human factors, such as failure to invest your would-be down payment in the stock market. Nor does the calculator consider the possibility that home ownership more effectively shields you from the volatility of the stock market.</p>
      <p>These are all potentially consequential things! This is why we have a disclaimer at the bottom of every page on this web site which insists that you consult a professional who can evaluate your personal situation and craft a plan specifically tailored to your specific needs.</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
        <adsense></adsense>
    </div>
  </div>
</div>

</template>

<style>
.lock {
  visibility:hidden;
}
.locked .lock {
  visibility:visible;
}
</style>

<script>
import Chart from 'chart.js';
import { doubleFromMoneyString, moneyStringFromDouble } from '../js/sharedFunctions.js';

export default {
  name: "main-content",
  data() {
    return {
      purchasePrice$: "400,000",
      downPaymentPercent$: "20",
      downPayment$: "?",
      loanAmount$: "?",
      term$: "30",
      interestRate$: "7",
      mortgagePayment$: "?",
      pmi$: "0",
      insurance$: "2,500",
      propertyTaxPercent$: "1.3",
      tax$: "?",
      hoa$: "0",
      totalMortgagePayment$: "?",

      // effective payment worksheet
      transactionCosts$: "7",
      transactionCostsAmount$: "?",
      homePriceGrowth$: "4",
      profitOnSale$: "?",
      yearsOfOwnership$: "5",
      investmentOpportunityCost$: "6.7",
      inflation$: "2.4",
      maintenance$: "4,000",
      investmentOpportunityCostAmount$: "?",
      netPresentValue$: "?",
      rentEquivalentCost$: "?",
      yearOneCost$: "?",
      optimalYear$: "?",
      optimalYearCost$: "?",
      fiftyYearCost$: "?",

      downPaymentPercentMode: true,
      propagationDisabled: true
    }
  },
  methods: {
    setDownPaymentPercentMode(percentMode) {
      this.downPaymentPercentMode = percentMode;
    },
    recalcLoanAmountFromPurchasePriceAndDownPaymentPercent() {
      let purchasePrice = doubleFromMoneyString(this.purchasePrice$);
      let downPaymentPercent = parseFloat(this.downPaymentPercent$) / 100;

      let loanAmount = purchasePrice * (1 - downPaymentPercent);

      this.loanAmount = moneyStringFromDouble(loanAmount);
    },
    recalcDownPaymentFromPercentDownAndPurchasePrice() {
      let purchasePrice = doubleFromMoneyString(this.purchasePrice$);
      let downPaymentPercent = parseFloat(this.downPaymentPercent$);

      let downPayment = purchasePrice * downPaymentPercent / 100;

      this.downPayment = moneyStringFromDouble(downPayment);
    },
    recalcDownPaymentPercentFromDownPaymentAndPurchasePrice(){
      let purchasePrice = doubleFromMoneyString(this.purchasePrice$);
      let downPayment = doubleFromMoneyString(this.downPayment$);

      let downPaymentPercent = downPayment / purchasePrice * 100;

      this.downPaymentPercent = Math.round(downPaymentPercent).toString();
    },
    recalcPurchasePriceFromLoanAmount() {
      let downPaymentPercentMode = this.downPaymentPercentMode;
      let loanAmount = doubleFromMoneyString(this.loanAmount$);
      let downPayment = doubleFromMoneyString(this.downPayment$);
      let downPaymentPercent = parseFloat(this.downPaymentPercent$) / 100;
      
      let purchasePrice = 0;

      if (downPaymentPercentMode) {
        purchasePrice = loanAmount * (1 / (1 - downPaymentPercent));
      } else {
        purchasePrice = loanAmount + downPayment;
      }

      this.purchasePrice = moneyStringFromDouble(purchasePrice);
    },
    recalcPayment() {
      let loanAmount = doubleFromMoneyString(this.loanAmount$);
      let term = parseFloat(this.term$);
      let interestRate = parseFloat(this.interestRate$);
      let pmi = doubleFromMoneyString(this.pmi$);

      let monthlyInterest = interestRate / 12 / 100;

      let mortgagePayment = Math.round(loanAmount * monthlyInterest / (1 - Math.pow(1 + monthlyInterest, -(12 * term))) + pmi);

      this.mortgagePayment = moneyStringFromDouble(mortgagePayment);
    },
    recalcPmi() {
      let downPaymentPercent = parseFloat(this.downPaymentPercent$);
      let loanAmount = doubleFromMoneyString(this.loanAmount$);

      let pmi = 0;
      if (downPaymentPercent < 19.9) {
        pmi = loanAmount * 0.0075 / 12;
      }

      this.pmi = moneyStringFromDouble(pmi);
    },
    recalcPurchasePriceFromPayment() {
      let downPaymentPercentMode = this.downPaymentPercentMode;
      let term = parseFloat(this.term$);
      let interestRate = parseFloat(this.interestRate$);
      let mortgagePayment = doubleFromMoneyString(this.mortgagePayment$);
      let downPaymentPercent = parseFloat(this.downPaymentPercent$) / 100;
      let downPayment = doubleFromMoneyString(this.downPayment$);

      let monthlyInterest = interestRate / 12 / 100;
      let monthlyPmiPercent = 0.0075 / 12;
      
      let compoundingFactor = 1 - Math.pow(1 + monthlyInterest, -(12 * term));

      let purchasePrice = 0;

      if (downPaymentPercentMode) {
        if (downPaymentPercent < 0.199) {
          purchasePrice = (compoundingFactor * mortgagePayment) / ((1 - downPaymentPercent) * (monthlyInterest + monthlyPmiPercent * compoundingFactor));
        } else {
          purchasePrice = (compoundingFactor * mortgagePayment) / (monthlyInterest * (1 - downPaymentPercent));
        }
      } else {
        purchasePrice = (compoundingFactor * (mortgagePayment) + downPayment * monthlyInterest) / monthlyInterest;
        if (downPayment / purchasePrice < 0.199) {
          purchasePrice = (compoundingFactor * (mortgagePayment + monthlyPmiPercent * downPayment) + downPayment * monthlyInterest) / (monthlyInterest + monthlyPmiPercent * compoundingFactor);
        }
      }

      let purchasePriceRounded = Math.round(purchasePrice / 100) * 100;

      this.purchasePrice = moneyStringFromDouble(purchasePriceRounded);
    },
    recalcTax() {
      let propertyTaxPercent = parseFloat(this.propertyTaxPercent$);
      let purchasePrice = doubleFromMoneyString(this.purchasePrice$);

      let tax = purchasePrice * propertyTaxPercent / 100;

      this.tax = moneyStringFromDouble(tax);
    },
    recalcpropertyTaxPercent() { 
      let tax = doubleFromMoneyString(this.tax$);
      let purchasePrice = doubleFromMoneyString(this.purchasePrice$);

      let propertyTaxPercent = tax / purchasePrice * 100;
      let roundedpropertyTaxPercent = Math.round(propertyTaxPercent * 100) / 100;

      this.propertyTaxPercent = roundedpropertyTaxPercent.toString();
    },
    recalcTotalMortgagePayment() {
      let mortgagePayment = doubleFromMoneyString(this.mortgagePayment$);
      let insurance = doubleFromMoneyString(this.insurance$);
      let hoa = doubleFromMoneyString(this.hoa$);
      let tax = doubleFromMoneyString(this.tax$);

      let totalMortgagePayment = Math.round(mortgagePayment + insurance / 12 + tax / 12 + hoa);

      this.totalMortgagePayment = moneyStringFromDouble(totalMortgagePayment);
    },
    recalcPurchasePriceFromTotalMortgagePayment() {
      let downPaymentPercentMode = this.downPaymentPercentMode;
      let downPaymentPercent = parseFloat(this.downPaymentPercent$) / 100;
      let downPayment = doubleFromMoneyString(this.downPayment$);
      let term = parseFloat(this.term$);
      let interestRate = parseFloat(this.interestRate$);
      let insurance = doubleFromMoneyString(this.insurance$);
      let hoa = doubleFromMoneyString(this.hoa$);
      let propertyTaxPercent = parseFloat(this.propertyTaxPercent$);  
      let totalMortgagePayment = doubleFromMoneyString(this.totalMortgagePayment$);

      let monthlyInterest = interestRate / 12 / 100;
      let monthlyInsurance = insurance / 12;
      let monthlypropertyTaxPercent = propertyTaxPercent / 12 / 100;
      let monthlyPmiPercent = 0.0075 / 12;

      let compoundingFactor = 1 - Math.pow(1 + monthlyInterest, -(12 * term));

      let purchasePrice = 0;
      if (downPaymentPercentMode) {
        if (downPaymentPercent < 0.199) {
          purchasePrice = (compoundingFactor * (totalMortgagePayment - monthlyInsurance - hoa)) / ((1 - downPaymentPercent) * (monthlyInterest + monthlyPmiPercent * compoundingFactor) + compoundingFactor * monthlypropertyTaxPercent);
        } else {
          purchasePrice = (compoundingFactor * (totalMortgagePayment - monthlyInsurance - hoa)) / (monthlyInterest * (1 - downPaymentPercent) + compoundingFactor * monthlypropertyTaxPercent);
        }
      } else {
        purchasePrice = (compoundingFactor * (totalMortgagePayment - monthlyInsurance - hoa) + downPayment * monthlyInterest) / (compoundingFactor * monthlypropertyTaxPercent + monthlyInterest);
        if (downPayment / purchasePrice < 0.199) {
          purchasePrice = (compoundingFactor * (totalMortgagePayment - monthlyInsurance - hoa + monthlyPmiPercent * downPayment) + downPayment * monthlyInterest) / (compoundingFactor * monthlypropertyTaxPercent + monthlyInterest + monthlyPmiPercent * compoundingFactor);
        }
      }

      let purchasePriceRounded = Math.round(purchasePrice / 100) * 100;

      this.purchasePrice = moneyStringFromDouble(purchasePriceRounded);
    },
    recalcRentEquivalentCost() {
      // we'll be generating a graph, so initialize those variables
      let xData = [];
      let yData = [];

      for (let ownershipYear = 1; ownershipYear <= 50; ownershipYear++) {
        let purchasePrice = doubleFromMoneyString(this.purchasePrice$);
        let loanAmount = doubleFromMoneyString(this.loanAmount$);
        let term = doubleFromMoneyString(this.term$);
        let downPayment = doubleFromMoneyString(this.downPayment$);
        let interestRate = doubleFromMoneyString(this.interestRate$) / 100;
        let transactionCosts = doubleFromMoneyString(this.transactionCosts$) / 100;
        let homePriceGrowth = doubleFromMoneyString(this.homePriceGrowth$) / 100;
        let yearsOfOwnership = doubleFromMoneyString(this.yearsOfOwnership$);
        let inflation = doubleFromMoneyString(this.inflation$) / 100;
        let investmentOpportunityCost = doubleFromMoneyString(this.investmentOpportunityCost$) / 100;
        let pmi = doubleFromMoneyString(this.pmi$);
        let monthlyTax = doubleFromMoneyString(this.tax$) / 12;
        let monthlyInsurance = doubleFromMoneyString(this.insurance$) / 12;
        let hoa = doubleFromMoneyString(this.hoa$);
        let monthlyMaintenance = doubleFromMoneyString(this.maintenance$) / 12;

        let salePrice = purchasePrice * Math.pow(1 + homePriceGrowth, ownershipYear);
        let transactionCostsAmount = salePrice * transactionCosts;
        let profitOnSale = salePrice - purchasePrice;

        let monthlyInterest = interestRate / 12;
        let mortgagePayment = loanAmount * monthlyInterest / (1 - Math.pow(1 + monthlyInterest, -(12 * term)));

        // Calculate the net present value of all cashflows, discounted by opportunity cost,
        // then calculate an equivalent cashflow of rent that equals that net present value. 
        // This is your 'effective payment'.
        let netPresentValue = downPayment;
        for (let i = 0; i < ownershipYear * 12; i++) {
          // Note: years of ownership may exceed the length of the mortgage,
          // so we only count mortgage-related cashflows for the duration of
          // the mortgage.
          if (i < term * 12 && loanAmount > 0) {
            let interest = loanAmount * interestRate / 12;
            let principal = mortgagePayment - interest;
            loanAmount -= principal;

            let mortgageNpv = mortgagePayment / Math.pow(1 + investmentOpportunityCost / 12, i);
            netPresentValue += mortgageNpv;

            // account for PMI
            if (loanAmount / purchasePrice > 0.8) {
              let pmiNpv = pmi / Math.pow(1 + investmentOpportunityCost / 12, i);
              netPresentValue += pmiNpv;
            }
          }
          // calculate npv for other expenses
          netPresentValue += monthlyTax / Math.pow(1 + investmentOpportunityCost / 12, i);
          netPresentValue += monthlyInsurance / Math.pow(1 + investmentOpportunityCost / 12, i);
          netPresentValue += hoa / Math.pow(1 + investmentOpportunityCost / 12, i);
          netPresentValue += monthlyMaintenance / Math.pow(1 + investmentOpportunityCost / 12, i);

          // incorporate inflation into inflation-dependent costs
          monthlyTax *= 1 + homePriceGrowth / 12;
          monthlyInsurance *= 1 + homePriceGrowth / 12;
          hoa *= 1 + inflation / 12;
          monthlyMaintenance *= 1 + inflation / 12;
        }
        let transactionNpv = transactionCostsAmount / Math.pow(1 + investmentOpportunityCost, ownershipYear);
        netPresentValue += transactionNpv;
        let profitNpv = (salePrice - loanAmount) / Math.pow(1 + investmentOpportunityCost, ownershipYear);
        netPresentValue -= profitNpv;

        let rentEquivalentCost = null;
        if (investmentOpportunityCost === inflation) {
          rentEquivalentCost = netPresentValue / ownershipYear * (1 + inflation) / 12;
        } else {
          rentEquivalentCost = netPresentValue * (investmentOpportunityCost - inflation) / (1 - Math.pow((1 + inflation) / (1 + investmentOpportunityCost), ownershipYear)) / 12;
        }

        // this is the year the user specified, so render that
        if (ownershipYear === yearsOfOwnership) {
          this.transactionCostsAmount = moneyStringFromDouble(Math.round(transactionCostsAmount));
          this.profitOnSale = moneyStringFromDouble(Math.round(profitOnSale));
          this.investmentOpportunityCostAmount = moneyStringFromDouble(Math.round(netPresentValue));
          this.netPresentValue = moneyStringFromDouble(Math.round(-netPresentValue));
          this.rentEquivalentCost = moneyStringFromDouble(Math.round(rentEquivalentCost));
        }

        xData.push(ownershipYear);
        yData.push(rentEquivalentCost);
      }

      var yearOneCost = yData[0];
      this.yearOneCost = moneyStringFromDouble(Math.round(yearOneCost));

      var optimalYearCost = Math.min(...yData);
      this.optimalYearCost = moneyStringFromDouble(Math.round(optimalYearCost));

      var optimalYear = xData[yData.findIndex((item) => item === optimalYearCost)];
      this.optimalYear = optimalYear;

      var fiftyYearCost = yData[49];
      this.fiftyYearCost = moneyStringFromDouble(Math.round(fiftyYearCost));

      var effectivePaymentChartElement = document.getElementById('effectivePaymentChart').getContext('2d');

      this.generateGraph(effectivePaymentChartElement, xData, yData);
    },
    generateGraph(chartElement, xData, yData) {
      //balance chart
      Chart.defaults.global.elements.point.pointStyle = 'line';
      
      if (typeof window.effectivePaymentChartObj !== 'undefined')
      {
        window.effectivePaymentChartObj.data.datasets[0].data = yData;
        window.effectivePaymentChartObj.data.labels = xData;
        window.effectivePaymentChartObj.update();
      }
      else
      {
        window.effectivePaymentChartObj = new Chart(chartElement, {
          type: 'line',
          data: {
            labels: xData,
            datasets: [{
              cubicInterpolationMode: 'monotone',
              pointRadius: 0,
              data: yData,
              backgroundColor: [
                'rgba(40, 167, 69, 0.2)'
              ],
              borderColor: [
                'rgba(40, 167, 69, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            legend: {
              display: false
            },
            plugins: {
              filler: {
                propagate: false
              }
            },
            tooltips: {
              mode: 'index',
              intersect: false,
              callbacks: {
                title: function(tooltipItem, data) {
                  let text = data['labels'][tooltipItem[0]['index']] === 1 ? 'year' : 'years';
                  return data['labels'][tooltipItem[0]['index']] + ' ' + text;
                },
                label: function(tooltipItem, data) {
                  return '$' + moneyStringFromDouble(Math.round(data['datasets'][0]['data'][tooltipItem['index']]));
                }
              }
            },
            scales: {
              yAxes: [{
                ticks: {
                  minRotation: 0,
                  maxRotation: 0,
                  beginAtZero: true,
                  callback: function(value, index, values) {
                    return '$' + moneyStringFromDouble(value);
                  }
                }
              }],
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Years property was owned'
                },
                ticks: {
                  minRotation: 50,
                  maxRotation: 50
                }
              }]
            },
            animation: {
              duration: 0 // general animation time
            },
            hover: {
              animationDuration: 0 // duration of animations when hovering an item
            },
            responsiveAnimationDuration: 0, // animation duration after a resize
            elements: {
              line: {
                tension: 0 // disables bezier curves
              }
            }
          }
        });
      }
    },
    shareUrlToClipboard() {
      let params = {
        purchasePrice: this.purchasePrice,
        downPaymentPercent: this.downPaymentPercent,
        downPayment: this.downPayment,
        loanAmount: this.loanAmount,
        term: this.term,
        interestRate: this.interestRate,
        mortgagePayment: this.mortgagePayment,
        pmi: this.pmi,
        insurance: this.insurance,
        propertyTaxPercent: this.propertyTaxPercent,
        tax: this.tax,
        hoa: this.hoa,
        totalMortgagePayment: this.totalMortgagePayment,

        transactionCosts: this.transactionCosts,
        homePriceGrowth: this.homePriceGrowth,
        inflation: this.inflation,
        maintenance: this.maintenance,
        yearsOfOwnership: this.yearsOfOwnership,
        investmentOpportunityCost: this.investmentOpportunityCost
      };

      var esc = encodeURIComponent;
      var query = Object.keys(params)
        .map(k => esc(k) + '=' + esc(params[k]))
        .join('&');

      navigator.clipboard.writeText(window.location.origin + window.location.pathname + '?' + query);
    }
  },
  computed: {
    purchasePrice: {
      get() {
        return this.purchasePrice$;
      },
      set(value) {
        let purchasePrice = doubleFromMoneyString(value);
        let originalPurchasePrice = doubleFromMoneyString(this.purchasePrice$);
        if (purchasePrice == originalPurchasePrice) return;
        this.purchasePrice$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        if (this.downPaymentPercentMode) {
          this.recalcDownPaymentFromPercentDownAndPurchasePrice();
        } else {
          this.recalcDownPaymentPercentFromDownPaymentAndPurchasePrice();
        }
        this.recalcLoanAmountFromPurchasePriceAndDownPaymentPercent();
        this.recalcPmi();
        this.recalcPayment();
        this.recalcTax();
        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    downPaymentPercent: {
      get() {
        return this.downPaymentPercent$;
      },
      set(value) {
        let downPaymentPercent = parseFloat(value);
        let originalDownPaymentPercent = parseFloat(this.downPaymentPercent$);
        if (downPaymentPercent == originalDownPaymentPercent) return;
        this.downPaymentPercent$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.setDownPaymentPercentMode(true);
        this.recalcDownPaymentFromPercentDownAndPurchasePrice();
        this.recalcLoanAmountFromPurchasePriceAndDownPaymentPercent();
        this.recalcPmi();
        this.recalcPayment();
        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    downPayment: {
      get() {
        return this.downPayment$;
      },
      set(value) {
        let downPayment = doubleFromMoneyString(value);
        let originalDownPayment = doubleFromMoneyString(this.downPayment$);
        if (downPayment == originalDownPayment) return;
        this.downPayment$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.setDownPaymentPercentMode(false);
        this.recalcDownPaymentPercentFromDownPaymentAndPurchasePrice();
        this.recalcLoanAmountFromPurchasePriceAndDownPaymentPercent();
        this.recalcPmi();
        this.recalcPayment();
        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    loanAmount: {
      get() {
        return this.loanAmount$;
      },
      set(value) {
        let loanAmount = doubleFromMoneyString(value);
        let originalLoanAmount = doubleFromMoneyString(this.loanAmount$);
        if (loanAmount == originalLoanAmount) return;
        this.loanAmount$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcPurchasePriceFromLoanAmount();      
        if (this.downPaymentPercentMode) {
          this.recalcDownPaymentFromPercentDownAndPurchasePrice();
        } else {
          this.recalcDownPaymentPercentFromDownPaymentAndPurchasePrice();
        }
        this.recalcPmi();
        this.recalcPayment();
        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    term: {
      get() {
        return this.term$;
      },
      set(value) {
        let term = parseFloat(value);
        let originalTerm = parseFloat(this.term$);
        if (term == originalTerm) return;
        this.term$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcPayment();
        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    interestRate: {
      get() {
        return this.interestRate$;
      },
      set(value) {
        let interestRate = parseFloat(value);
        let originalInterestRate = parseFloat(this.interestRate$);
        if (interestRate == originalInterestRate) return;
        this.interestRate$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcPayment();
        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    mortgagePayment: {
      get() {
        return this.mortgagePayment$;
      },
      set(value) {
        let mortgagePayment = doubleFromMoneyString(value);
        let originalMortgagePayment = doubleFromMoneyString(this.mortgagePayment$);
        if (mortgagePayment == originalMortgagePayment) return;
        this.mortgagePayment$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcPurchasePriceFromPayment();
        if (this.downPaymentPercentMode) {
          this.recalcDownPaymentFromPercentDownAndPurchasePrice();
        } else {
          this.recalcDownPaymentPercentFromDownPaymentAndPurchasePrice();
        }
        this.recalcLoanAmountFromPurchasePriceAndDownPaymentPercent();
        this.recalcPmi();
        this.recalcTax();
        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    pmi: {
      get() {
        return this.pmi$;
      },
      set(value) {
        let pmi = doubleFromMoneyString(value);
        let originalPmi = doubleFromMoneyString(this.pmi$)
        if (pmi == originalPmi) return;
        this.pmi$ = value;
      }
    },
    insurance: {
      get() {
        return this.insurance$;
      },
      set(value) {
        let insurance = doubleFromMoneyString(value);
        let originalInsurance = doubleFromMoneyString(this.insurance$);
        if (insurance == originalInsurance) return;
        this.insurance$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    propertyTaxPercent: {
      get() {
        return this.propertyTaxPercent$;
      },
      set(value) {
        let propertyTaxPercent = parseFloat(value);
        let originalpropertyTaxPercent = parseFloat(this.propertyTaxPercent$);
        if (propertyTaxPercent == originalpropertyTaxPercent) return;
        this.propertyTaxPercent$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcTax();
        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    tax: {
      get() {
        return this.tax$;
      },
      set(value) {
        let tax = doubleFromMoneyString(value);
        let originalTax = doubleFromMoneyString(this.tax$);
        if (tax == originalTax) return;
        this.tax$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcpropertyTaxPercent();
        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    hoa: {
      get() {
        return this.hoa$;
      },
      set(value) {
        let hoa = doubleFromMoneyString(value);
        let originalHoa = doubleFromMoneyString(this.hoa$);
        if (hoa == originalHoa) return;
        this.hoa$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcTotalMortgagePayment();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    totalMortgagePayment: {
      get() {
        return this.totalMortgagePayment$;
      },
      set(value) {
        let totalMortgagePayment = doubleFromMoneyString(value);
        let originalTotalMortgagePayment = doubleFromMoneyString(this.totalMortgagePayment$);
        if (totalMortgagePayment == originalTotalMortgagePayment) return;
        this.totalMortgagePayment$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcPurchasePriceFromTotalMortgagePayment();
        if (this.downPaymentPercentMode) {
          this.recalcDownPaymentFromPercentDownAndPurchasePrice();
        } else {
          this.recalcDownPaymentPercentFromDownPaymentAndPurchasePrice();
        }
        this.recalcLoanAmountFromPurchasePriceAndDownPaymentPercent();
        this.recalcPmi();
        this.recalcPayment();
        this.recalcTax();

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },

    // effective payment worksheet

    transactionCosts: {
      get() {
        return this.transactionCosts$;
      },
      set(value) {
        let transactionCosts = doubleFromMoneyString(value);
        let originalTransactionCosts = doubleFromMoneyString(this.transactionCosts$);
        if (transactionCosts == originalTransactionCosts) return;
        this.transactionCosts$ = value;

        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    transactionCostsAmount: {
      get() {
        return this.transactionCostsAmount$;
      },
      set(value) {
        this.transactionCostsAmount$ = value;
      }
    },
    homePriceGrowth: {
      get() {
        return this.homePriceGrowth$;
      },
      set(value) {
        let homePriceGrowth = doubleFromMoneyString(value);
        let originalHomePriceGrowth = doubleFromMoneyString(this.homePriceGrowth$);
        if (homePriceGrowth == originalHomePriceGrowth) return;
        this.homePriceGrowth$ = value;

        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    profitOnSale: {
      get() {
        return this.profitOnSale$;
      },
      set(value) {
        this.profitOnSale$ = value;
      }
    },
    yearsOfOwnership: {
      get() {
        return this.yearsOfOwnership$;
      },
      set(value) {
        let yearsOfOwnership = doubleFromMoneyString(value);
        let originalYearsOfOwnership = doubleFromMoneyString(this.yearsOfOwnership$);
        if (yearsOfOwnership == originalYearsOfOwnership) return;
        this.yearsOfOwnership$ = value;

        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    inflation: {
      get() {
        return this.inflation$;
      },
      set(value) {
        let inflation = doubleFromMoneyString(value);
        let originalInflation = doubleFromMoneyString(this.inflation$);
        if (inflation == originalInflation) return;
        this.inflation$ = value;

        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    maintenance: {
      get() {
        return this.maintenance$;
      },
      set(value) {
        let maintenance = doubleFromMoneyString(value);
        let originalMaintenance = doubleFromMoneyString(this.maintenance$);
        if (maintenance == originalMaintenance) return;
        this.maintenance$ = value;

        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    investmentOpportunityCost: {
      get() {
        return this.investmentOpportunityCost$;
      },
      set(value) {
        let investmentOpportunityCost = doubleFromMoneyString(value);
        let originalInvestmentOpportunityCost = doubleFromMoneyString(this.investmentOpportunityCost$);
        if (investmentOpportunityCost == originalInvestmentOpportunityCost) return;
        this.investmentOpportunityCost$ = value;

        if (this.propagationDisabled) return;

        this.propagationDisabled = true;
        
        this.recalcRentEquivalentCost();

        this.propagationDisabled = false;
      }
    },
    investmentOpportunityCostAmount: {
      get() {
        return this.investmentOpportunityCostAmount$;
      },
      set(value) {
        this.investmentOpportunityCostAmount$ = value;
      }
    },
    netPresentValue: {
      get() {
        return this.netPresentValue$;
      },
      set(value) {
        this.netPresentValue$ = value;
      }
    },
    rentEquivalentCost: {
      get() {
        return this.rentEquivalentCost$;
      },
      set(value) {
        this.rentEquivalentCost$ = value;
      }
    },
    yearOneCost: {
      get() {
        return this.yearOneCost$;
      },
      set(value) {
        this.yearOneCost$ = value;
      }
    },
    optimalYear: {
      get() {
        return this.optimalYear$;
      },
      set(value) {
        this.optimalYear$ = value;
      }
    },
    optimalYearCost: {
      get() {
        return this.optimalYearCost$;
      },
      set(value) {
        this.optimalYearCost$ = value;
      }
    },
    fiftyYearCost: {
      get() {
        return this.fiftyYearCost$;
      },
      set(value) {
        this.fiftyYearCost$ = value;
      }
    }
  },
  mounted: function() {
    // load from query string parameters
    let urlParams = new URLSearchParams(window.location.search);

    if (urlParams.has('purchasePrice')) {
      this.purchasePrice = urlParams.get('purchasePrice');
      this.downPaymentPercent = urlParams.get('downPaymentPercent');
      this.downPayment = urlParams.get('downPayment');
      this.loanAmount = urlParams.get('loanAmount');
      this.term = urlParams.get('term');
      this.interestRate = urlParams.get('interestRate');
      this.mortgagePayment = urlParams.get('mortgagePayment');
      this.pmi = urlParams.get('pmi');
      this.insurance = urlParams.get('insurance');
      this.propertyTaxPercent = urlParams.get('propertyTaxPercent');
      this.tax = urlParams.get('tax');
      this.hoa = urlParams.get('hoa');
      this.totalMortgagePayment = urlParams.get('totalMortgagePayment');

      this.transactionCosts = urlParams.get('transactionCosts');
      this.homePriceGrowth = urlParams.get('homePriceGrowth');
      this.inflation = urlParams.get('inflation');
      this.maintenance = urlParams.get('maintenance');
      this.yearsOfOwnership = urlParams.get('yearsOfOwnership');
      this.investmentOpportunityCost = urlParams.get('investmentOpportunityCost');
    }

    this.recalcDownPaymentFromPercentDownAndPurchasePrice();
    this.recalcLoanAmountFromPurchasePriceAndDownPaymentPercent();
    this.recalcPayment();
    this.recalcPmi();
    this.recalcTax();
    this.recalcTotalMortgagePayment();

    this.recalcRentEquivalentCost();

    this.propagationDisabled = false;

    //send usage event to trackers
    if (process.env.NODE_ENV === 'production') {
      gtag('event', 'Calculate');
      fbq('track', 'ViewContent');
    }
  }
}

</script>