<template>
  <div>
    <b-input-group :append="append" :prepend="prepend">
      <b-form-input :id="id" inputmode="numeric" v-model="displayValue" @blur="isInputActive = false" @focus.native="$event.target.select()" @focus="isInputActive = true;" autocomplete="off" />
    </b-input-group>
    <div style="text-align: center;">
      <input type="range" v-model="sliderValue" style="width: 80%; display: inline-block;" class="form-control-range my-2" 
        :min="min" :max="max" :step="step" aria-label='Slider bar' autocomplete="off" >
    </div>
  </div>
</template>

<script>

import { doubleFromMoneyString, moneyStringFromDouble } from '../js/sharedFunctions.js';

export default {
  props: ['value', 'id', 'min', 'max', 'append', 'prepend', 'step'],
  data: function() {
    return {
      isInputActive: false
    }
  },
  computed: {
    sliderValue: {
      get: function() {
        return this.value;
      },
      set: function(modifiedValue) {
        this.$emit('input', parseFloat(modifiedValue))
      }
    },
    displayValue: {
      get: function() {
        // User is not modifying now. Format display value for user interface
        if (this.isInputActive) {
          return this.value;
        } else {
          return moneyStringFromDouble(this.value);
        }
      },
      set: function(modifiedValue) {
        // Recalculate value after ignoring "$" and "," in user input
        let newValue = doubleFromMoneyString(modifiedValue);
        // Ensure that it is not NaN
        if (!isNaN(newValue)) {
          this.$emit('input', newValue)
        } 
      }
    }
  }
};

</script>