<template>
<div>
  <div class="row" style="height: 400px;">
    
    <transition name="slide-fade">
      <div v-if="step === 0" class="col">
        <p>A <a href="https://i.imgur.com/u0ocDRI.png">popular infographic</a> has earned its entry into the personal finance hall of fame.</p>
        <p>While not a complete replacement for a financial advisor, we think it does a pretty great job, especially for folks that might not be able to afford an advisor.</p>
        <p>We've fashioned the famous flowchart into an easy-to-use online guide. Click the button below to get started.</p>
        <p class="text-center">
          <a class="btn btn-outline-primary btn-lg" @click="step++">Get started</a>
        </p>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 1" class="col">
        <div class="card text-white bg-secondary mb-3">
          <h5 class="card-header">
            Step 1.0: Set a budget and pay for essentials
          </h5>
          <div class="card-body">
            <h5 class="card-title">Create a budget</h5>
            <p class="card-text">Fundamental to a sound financial footing is knowing where your money is going.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 2" class="col">
        <div class="card text-white bg-secondary mb-3">
          <h5 class="card-header">
            Step 1.1: Set a budget and pay for essentials
          </h5>
          <div class="card-body">
            <h5 class="card-title">Pay rent/mortgage</h5>
            <p class="card-text">Including renters or homeowners insurance, if required.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 3" class="col">
        <div class="card text-white bg-secondary mb-3">
          <h5 class="card-header">
            Step 1.2: Set a budget and pay for essentials
          </h5>
          <div class="card-body">
            <h5 class="card-title">Buy food/groceries</h5>
            <p class="card-text">Depending on your situation and needs, you may wish to prioritize utilities.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 4" class="col">
        <div class="card text-white bg-secondary mb-3">
          <h5 class="card-header">
            Step 1.3: Set a budget and pay for essentials
          </h5>
          <div class="card-body">
            <h5 class="card-title">Pay for other essentials</h5>
            <p class="card-text">Power, water, heat, toiletries, etc.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 5" class="col">
        <div class="card text-white bg-secondary mb-3">
          <h5 class="card-header">
            Step 1.4: Set a budget and pay for essentials
          </h5>
          <div class="card-body">
            <h5 class="card-title">Pay for income-supporting expenses</h5>
            <p class="card-text">Necessary transportation expenses, internet, phone. Anything required to continue earning an income.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 6" class="col">
        <div class="card text-white bg-secondary mb-3">
          <h5 class="card-header">
            Step 1.5: Set a budget and pay for essentials
          </h5>
          <div class="card-body">
            <h5 class="card-title">Pay for healthcare</h5>
            <p class="card-text">Health insurance and related healthcare expenses.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 7" class="col">
        <div class="card text-white bg-secondary mb-3">
          <h5 class="card-header">
            Step 1.6: Set a budget and pay for essentials
          </h5>
          <div class="card-body">
            <h5 class="card-title">Make minimum payments on all debts and loans</h5>
            <p class="card-text">Student loans, credit cards, etc.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 8" class="col">
        <div class="card text-white bg-danger mb-3">
          <h5 class="card-header">
            Step 2.0: Build an emergency fund
          </h5>
          <div class="card-body">
            <h5 class="card-title">Build a small emergency fund</h5>
            <p class="card-text">Either $1,000 or one month's worth of expenses, whichever is greater. Use a checking or savings account.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 9" class="col">
        <div class="card text-white bg-danger mb-3">
          <h5 class="card-header">
            Step 2.1: Build an emergency fund
          </h5>
          <div class="card-body">
            <h5 class="card-title">Pay all non-essential bills in full</h5>
            <p class="card-text">Cable, internet, phone, etc. And set them to auto-pay when they come due.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 10" class="col">
        <div class="card text-white bg-warning mb-3">
          <h5 class="card-header">
            Step 3.0: Employer-sponsored matching funds
          </h5>
          <div class="card-body">
            <h5 class="card-title">Does your employer offer a retirement account with an employer match?</h5>
            <p class="card-text"></p>
            <a class="btn btn-primary" @click="step++">Yes</a>
            <a class="btn btn-primary" @click="step++;step++;">No</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 11" class="col">
        <div class="card text-white bg-warning mb-3">
          <h5 class="card-header">
            Step 3.1: Employer-sponsored matching funds
          </h5>
          <div class="card-body">
            <h5 class="card-title">Contribute the amount needed to get the full employer match, but nothing above that amount (that step comes later on).</h5>
            <p class="card-text"></p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 12" class="col">
        <div class="card text-white bg-success mb-3">
          <h5 class="card-header">
            Step 4.0: Pay down high/moderate interest debts
          </h5>
          <div class="card-body">
            <h5 class="card-title">Do you have any high interest debt?</h5>
            <p class="card-text">In other words, debt with an interest rate of 10% or higher.</p>
            <a class="btn btn-primary" @click="step++">Yes</a>
            <a class="btn btn-primary" @click="step++;step++;">No</a>
            <a class="btn float-right" @click="step = 10">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 13" class="col">
        <div class="card text-white bg-success mb-3">
          <h5 class="card-header">
            Step 4.1: Pay down high/moderate interest debts
          </h5>
          <div class="card-body">
            <h5 class="card-title">Pay off your high-interest debt</h5>
            <p class="card-text">Evaluate the merits of the "Avalanche" and "Snowball" methods and their advantages in your personal financial/psychological situation and apply them accordinly to pay off your debts.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 14" class="col">
        <div class="card text-white bg-success mb-3">
          <h5 class="card-header">
            Step 4.2: Pay down high/moderate interest debts
          </h5>
          <div class="card-body">
            <h5 class="card-title">Increase your emergency fund to 3-6 months' living expenses</h5>
            <p class="card-text">Use a checking account, savings account, or <a href="/blog/why-i-bonds-are-the-best-place-for-your-emergency-fund">series I savings bonds</a>.</p>
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--;step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 15" class="col">
        <div class="card text-white bg-success mb-3">
          <h5 class="card-header">
            Step 4.3: Pay down high/moderate interest debts
          </h5>
          <div class="card-body">
            <h5 class="card-title">Do you have any moderate interest debt?</h5>
            <p class="card-text">For example, any debt over 4-5% interest.</p>                  
            <a class="btn btn-primary" @click="step++">Yes</a>
            <a class="btn btn-primary" @click="step++;step++;">No</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 16" class="col">
        <div class="card text-white bg-success mb-3">
          <h5 class="card-header">
            Step 4.4: Pay down high/moderate interest debts
          </h5>
          <div class="card-body">
            <h5 class="card-title">Pay off your moderate-interest debt.</h5>
            <p class="card-text">Evaluate the merits of the "Avalanche" and "Snowball" methods and their advantages in your personal financial/psychological situation and apply them accordinly to pay off your debts.</p>                  
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 17" class="col">
        <div class="card text-white bg-info mb-3">
          <h5 class="card-header">
            Step 5.0: Save for retirement and higher education expenses
          </h5>
          <div class="card-body">
            <h5 class="card-title">Max a traditional or Roth IRA.</h5>
            <p class="card-text">Evaluate the merits of a Roth or Traditional IRA in the context of your personal financial situation and max the yearly contributions accordingly.</p>                  
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--;step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 18" class="col">
        <div class="card text-white bg-info mb-3">
          <h5 class="card-header">
            Step 5.1: Save for retirement and higher education expenses
          </h5>
          <div class="card-body">
            <h5 class="card-title">Are you expecting any large <em>required</em> purchases soon?</h5>
            <p class="card-text">College, professional certifications, a car so you can get to work, etc.</p>                  
            <a class="btn btn-primary" @click="step++">Yes</a>
            <a class="btn btn-primary" @click="step++;step++;">No</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 19" class="col">
        <div class="card text-white bg-info mb-3">
          <h5 class="card-header">
            Step 5.2: Save for retirement and higher education expenses
          </h5>
          <div class="card-body">
            <h5 class="card-title">Set aside the money needed for these purchases in a checking or savings account.</h5>
            <p class="card-text"></p>                  
            <a class="btn btn-primary" @click="step++">Done</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 20" class="col">
        <div class="card text-white bg-primary mb-3">
          <h5 class="card-header">
            Step 6.0: Save more for retirement
          </h5>
          <div class="card-body">
            <h5 class="card-title">Are you currently saving <em>at least</em> 15% of your pre-tax income for retirement?</h5>
            <p class="card-text">Total contributions to all retirement accounts. Note that you may need to save more if you behind on retirement savings.</p>                  
            <a class="btn btn-dark" @click="step++;step++;step++;step++;">Yes</a>
            <a class="btn btn-dark" @click="step++;">No</a>
            <a class="btn float-right" @click="step--;step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 21" class="col">
        <div class="card text-white bg-primary mb-3">
          <h5 class="card-header">
            Step 6.1: Save more for retirement
          </h5>
          <div class="card-body">
            <h5 class="card-title">Does your employer offer a 401(k), 403(b), or similar retirement plan into which you could save more money?</h5>
            <p class="card-text"></p>                  
            <a class="btn btn-dark" @click="step++;">Yes</a>
            <a class="btn btn-dark" @click="step++;step++;">No</a>
            <a class="btn float-right" @click="step--">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 22" class="col">
        <div class="card text-white bg-primary mb-3">
          <h5 class="card-header">
            Step 6.2: Save more for retirement
          </h5>
          <div class="card-body">
            <h5 class="card-title">Increase contributions until you have reached 15% pre-tax income being saved for retirement.</h5>
            <p class="card-text"></p>                  
            <a class="btn btn-dark" @click="step++;step++;">Done</a>
            <a class="btn float-right" @click="step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 23" class="col">
        <div class="card text-white bg-primary mb-3">
          <h5 class="card-header">
            Step 6.3: Save more for retirement
          </h5>
          <div class="card-body">
            <h5 class="card-title">If self-employed, contribute to an Individual 401(k), SEP-IRA, or SIMPLE IRA to reach 15% pre-tax income saved. If not self-employed, contribute to a taxable brokerage account to reach this goal.</h5>
            <p class="card-text"></p>                  
            <a class="btn btn-dark" @click="step++;">Done</a>
            <a class="btn float-right" @click="step--;step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 24" class="col">
        <div class="card bg-light mb-3">
          <h5 class="card-header">
            Step 7.0: Save for other goals and advanced methods
          </h5>
          <div class="card-body">
            <h5 class="card-title">Are you qualified for a high-deductible health plan (HDHP) and are thus eligible for an HSA?</h5>
            <p class="card-text"></p>                  
            <a class="btn btn-outline-primary" @click="step++;">Yes</a>
            <a class="btn btn-outline-primary" @click="step++;step++;">No</a>
            <a class="btn float-right" @click="step--;step--;step--;step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 25" class="col">
        <div class="card bg-light mb-3">
          <h5 class="card-header">
            Step 7.1: Save for other goals and advanced methods
          </h5>
          <div class="card-body">
            <h5 class="card-title">Max your yearly HSA contribution.</h5>
            <p class="card-text"></p>                  
            <a class="btn btn-outline-primary" @click="step++;">Done</a>
            <a class="btn float-right" @click="step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 26" class="col">
        <div class="card bg-light mb-3">
          <h5 class="card-header">
            Step 7.2: Save for other goals and advanced methods
          </h5>
          <div class="card-body">
            <h5 class="card-title">Do you have children and wish to help pay for some or all of their college expenses?</h5>
            <p class="card-text"></p>                  
            <a class="btn btn-outline-primary" @click="step++;">Yes</a>
            <a class="btn btn-outline-primary" @click="step++;step++;">No</a>
            <a class="btn float-right" @click="step--;step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 27" class="col">
        <div class="card bg-light mb-3">
          <h5 class="card-header">
            Step 7.3: Save for other goals and advanced methods
          </h5>
          <div class="card-body">
            <h5 class="card-title">Evaluate available savings/investment options, such as a 529 plan, and contribute accordingly.</h5>
            <p class="card-text"></p>                  
            <a class="btn btn-outline-primary" @click="step++;">Done</a>
            <a class="btn float-right" @click="step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 28" class="col">
        <div class="card bg-light mb-3">
          <h5 class="card-header">
            Step 7.4: Save for other goals and advanced methods
          </h5>
          <div class="card-body">
            <h5 class="card-title">At this point, you have some options on how to proceed, and it is completely up to you and your personal goals and desires.</h5>
            <p class="card-text"></p>                  
            <a class="btn btn-outline-primary" @click="step++;">Retire early?</a>
            <a class="btn btn-outline-primary" @click="step++;step++;">Buy something?</a>
            <a class="btn float-right" @click="step--;step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 29" class="col">
        <div class="card bg-light mb-3">
          <h5 class="card-header">
            Step 7.5: Save for other goals and advanced methods
          </h5>
          <div class="card-body">
            <h5 class="card-title">Max your 401(k), 403(b), or other employer sponsored account. If these options aren't available consider "Mega backdoor Roth IRA" or a taxable brokerage account.</h5>
            <p class="card-text">And consider using our <a href="/retirement-calculator">Ultimate Retirement Calculator</a> to determine what your path to financial freedom might look like.</p>
            <a class="btn float-right" @click="step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div v-if="step === 30" class="col">
        <div class="card bg-light mb-3">
          <h5 class="card-header">
            Step 7.6: Save for other goals and advanced methods
          </h5>
          <div class="card-body">
            <h5 class="card-title">Save up for something you'd like to buy.</h5>
            <p class="card-text">
              Some examples:
              <ul>
                <li><a href="/blog/why-5-percent-is-the-ideal-down-payment">A down payment for a home</a></li>
                <li>A new car</li>
                <li>Paying down your existing mortgage</li>
                <li>A vacation</li>
              </ul>
              For goals within 3-5 years, use a savings account. For goals further out, consider a conservative mix of stocks and bonds.
            </p>
            <a class="btn float-right" @click="step--;step--;">Go back</a>
          </div>
        </div>
      </div>
    </transition>

  </div>
</div>
</template>

<script>
export default {
  name: "main-content",
  data() {
    return {
      step: 0
    }
  }
}

</script>