<template>
  <div>
    <square-responsive-adsense />
    <h4>You should start saving...</h4>
    <h3 style="text-align: center;">${{ startSaving }} <small>per year</small></h3>
    <small class="form-text text-muted">This equates to ${{ startSavingMonthly }} per month. Each year you'll need to increase this contribution at the rate of inflation ({{ inflation }}%) until you retire at {{ retirementAge }} years old.</small>
  </div>
</template>

<script>
export default {
  props: [ 'startSaving', 'startSavingMonthly', 'inflation', 'retirementAge' ]
}
</script>