<template>
  <div id="visibilityTrigger">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col">
          <p>Tell us a little about yourself and we'll get you on the right track.</p>
            <b-form-group id="desiredLifestyleInputGroup"
                          label="First, what kind of lifestyle would you like to have in retirement?"
                          label-for="desiredLifestyle">
              <number-input id="desiredLifestyle" 
                            v-model="desiredLifestyle"
                            min="50000"
                            max="150000"
                            step="5000"
                            prepend="$" />
              <small class="form-text text-muted">In today's after-tax dollars, how much do you spend per year? Don't include money you save. In other words, this is what you need to spend in order to live comfortably. For a margin of safety, this value should be at least double your essential expenses. Can you realistically live on ${{ minimumSpendPerMonth }} (in today's dollars) per month for an extended period if you needed to?</small>
            </b-form-group>
          </div>
        </div>
        <div class="row">
          <b-form-group class="col-sm-6"
                        id="currentAgeInputGroup"
                        label="Current age:"
                        label-for="currentAge"
                        description="How old are you?">
            <number-input id="currentAge"
                          v-model="currentAge"
                          min="18"
                          max="80"
                          step="1"
                          append="years old" />
          </b-form-group>
          <b-form-group class="col-sm-6"
                        id="retirementAgeInputGroup"
                        label="Retirement age:"
                        label-for="retirementAge"
                        description="What age would you like to stop working and begin living off of your savings?">
            <number-input id="retirementAge"
                          v-model="retirementAge"
                          min="18"
                          max="80"
                          step="1"
                          append="years old" />
          </b-form-group>
        </div>
        <div class="row">
          <b-form-group class="col"
                        id="currentSavingsInputGroup"
                        label="Current savings:"
                        label-for="currentSavings"
                        description="The amount of money already saved for retirement as of today.">
            <number-input id="currentSavings"
                          v-model="currentSavings"
                          min="-50000"
                          max="2500000"
                          step="10000"
                          prepend="$" />
          </b-form-group>
        </div>

        <assumptions 
          :value="assumptions"
          @input="(newAssumptions) => {assumptions = newAssumptions}"
        ></assumptions>

        <div class="row d-lg-none">
          <div class="col">
            <retirement-calculator-summary :startSaving="startSaving" :startSavingMonthly="startSavingMonthly"
              :inflation="assumptions.inflation" :retirementAge="retirementAge" />
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h4>When you retire, you should have a lump sum of...</h4>
            <h3 style="text-align: center;">${{ lumpSumAtRetirement }}</h3>
            <small class="form-text text-muted">This is the lump sum you'll need in addition to your supplemental income (social security, etc.). Assumes you start saving ${{ startSaving }} per year increasing at the rate of inflation until you retire. At the time of retirement, this will provide a pre-tax income of ${{ retirementIncome }}, which may increase at the rate of inflation throughout retirement. We arrived at ${{ retirementIncome }} as your desired pre-tax retirement income because you indicated you wanted a post-tax income of ${{ desiredLifestyleMoneyString }} adjusted at a {{ assumptions.inflation }}% rate of inflation for when you retire at {{ retirementAge }} years old.</small>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h4>Here's your retirement savings over time</h4>
            <canvas id="balanceChart" width="200" height="100"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Here's a look at your sources of income in retirement</h4>
            <canvas id="incomeChart" width="200" height="100"></canvas>
            <small class="form-text text-muted">This is a projection into the future. Actual outcomes may vary. This is due to various factors including market performance and your individual investment decisions. Be sure to routinely review your financial situation and make adjustments accordingly. This may mean lowering your lifestyle expenditure. Be sure to use conservative assumptions and consult a financial professional.</small>
          </div>
        </div>

      </div>
      <div class="col-lg-4 text-center d-none d-lg-block">
        <div style="margin: 0 auto; position: -webkit-sticky; position: sticky; top: 0;">
          <retirement-calculator-summary :startSaving="startSaving" :startSavingMonthly="startSavingMonthly"
            :inflation="assumptions.inflation" :retirementAge="retirementAge" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b-button block v-b-toggle.collapse-1 variant="outline-secondary" size="lg" class="mt-3">See the data</b-button>
        <b-collapse id="collapse-1" class="mt-2">
          <b-table striped hover responsive sticky-header :items="proof" :fields="proofHeaders"></b-table>
        </b-collapse>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <b-button id="generate-url-button" block variant="outline-success" size="lg" class="mt-3" @click="shareUrlToClipboard">
          Generate a URL with these inputs
        </b-button>
        <b-popover
          :target="`generate-url-button`"
          :placement="`top`"
          triggers="click blur"
          :content="`A link was copied to the clipboard.`"></b-popover>
      </div>
    </div>

  </div>
</template>

<script>
import { generateNewProof, generateGraphs } from '../js/proofAndGraphCalcs.js';
import { debounce, doubleFromMoneyString, moneyStringFromDouble, assignAssumptionParamsFromClipboard } from '../js/sharedFunctions.js';

export default {
  name: "main-content",
  data() {
    return {
      propagationEnabled: false,

      desiredLifestyle: 55000,
      currentAge: 25,
      retirementAge: 60,
      currentSavings: 0,
      assumptions: {
        roi: 6.7,
        inflation: 2.4,
        retirementIncomeTaxRate: 20,
        ssAge: 67,
        socialSecurityIncome: 50000, // source: https://hvsfinancial.com/wp-content/uploads/2022/06/SocialSecurityMillennials.pdf
        pensionAge: 60,
        fixedIncome: 0,
        deathAge: 100,
        estateSize: 0
      },

      startSaving: null,
      startSavingMonthly: null,
      lumpSumAtRetirement: null,
      retirementIncome: null,
      proof: [],
      proofHeaders: [
        {
          key: 'age'
        },
        {
          key: 'savings',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'contribution',
          label: 'Contribution (income)',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'interest',
          label: 'Market return',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'otherIncome',
          label: 'SS or Pension',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        },
        {
          key: 'netGain',
          label: 'Net change',
          formatter: value => {
            return '$' + moneyStringFromDouble(value);
          }
        }
      ]
    }
  },
  computed: {
    desiredLifestyleMoneyString: function() {
      return moneyStringFromDouble(Math.round(this.desiredLifestyle)); 
    },
    minimumSpendPerMonth: function() {
      return moneyStringFromDouble(Math.round(this.desiredLifestyle / 12 / 2)); 
    }
  },
  methods: {
    recalcStartSaving: debounce(function () {
      let desiredLifestyle = this.desiredLifestyle;
      let currentAge = this.currentAge;
      let retirementAge = this.retirementAge;
      let currentSavings = this.currentSavings;
      let roi = this.assumptions.roi / 100;
      let inflation = this.assumptions.inflation / 100;
      let retirementIncomeTaxRate = this.assumptions.retirementIncomeTaxRate / 100;
      let ssAge = this.assumptions.ssAge;
      let socialSecurityIncome = this.assumptions.socialSecurityIncome;
      let pensionAge = this.assumptions.pensionAge;
      let fixedIncome = this.assumptions.fixedIncome;
      let deathAge = this.assumptions.deathAge;
      let estateSize = this.assumptions.estateSize;

      ssAge = Math.max(ssAge, currentAge);
      pensionAge = Math.max(pensionAge, currentAge);

      let yearsFromRetirement = retirementAge - currentAge;
      let yearsInRetirement = deathAge - retirementAge;
      let socialSecurityDelay = ssAge - retirementAge;
      let pensionDelay = pensionAge - retirementAge;

      if (roi === 0) {
        roi += 0.0001;
      }

      let retirementLifestyle = desiredLifestyle * Math.pow(1 + inflation, yearsFromRetirement);

      let retirementLifestyleBeforeTaxes = retirementLifestyle / (1 - retirementIncomeTaxRate);
      
      let presentValueOfSSAtTimeOfWithdrawals = null;
      if (roi === inflation) {
        presentValueOfSSAtTimeOfWithdrawals = socialSecurityIncome * (yearsInRetirement - socialSecurityDelay) / (1 + inflation);
      } else {
        presentValueOfSSAtTimeOfWithdrawals = socialSecurityIncome / (roi - inflation) * (1 - Math.pow((1 + inflation) / (1 + roi), yearsInRetirement - socialSecurityDelay));
      }
      
      let presentValueOfFixedIncomeAtTimeOfWithdrawals = fixedIncome * (1 - Math.pow(1 + roi, -(yearsInRetirement - pensionDelay))) / roi;

      let presentValueOfSSAtRetirement = presentValueOfSSAtTimeOfWithdrawals / Math.pow(1 + roi, socialSecurityDelay);
      let presentValueOfFixedIncomeAtRetirement = presentValueOfFixedIncomeAtTimeOfWithdrawals / Math.pow(1 + roi, pensionDelay);
      let presentValueOfFinalEstate = estateSize / Math.pow(1 + roi, yearsInRetirement);

      let lumpSumNeededAtRetirement = null;
      if (roi === inflation) { 
        lumpSumNeededAtRetirement = retirementLifestyleBeforeTaxes * yearsInRetirement / (1 + inflation) - presentValueOfSSAtRetirement - presentValueOfFixedIncomeAtRetirement + presentValueOfFinalEstate;
      } else {
        lumpSumNeededAtRetirement = retirementLifestyleBeforeTaxes / (roi - inflation) * (1 - Math.pow((1 + inflation) / (1 + roi), yearsInRetirement)) - presentValueOfSSAtRetirement - presentValueOfFixedIncomeAtRetirement + presentValueOfFinalEstate;
      }
    
      let currentSavingsCompounded = currentSavings * Math.pow(1 + roi, yearsFromRetirement);

      let lumpSumGap = lumpSumNeededAtRetirement - currentSavingsCompounded;

      let startSaving = null;
      if (roi === inflation) { 
        startSaving = lumpSumGap / yearsFromRetirement / Math.pow(1 + inflation, yearsFromRetirement - 1);
      } else {
        startSaving = lumpSumGap * (roi - inflation) / (Math.pow(1 + roi, yearsFromRetirement) - Math.pow(1 + inflation, yearsFromRetirement));
      }

      this.startSaving = moneyStringFromDouble(Math.round(startSaving));
      this.startSavingMonthly = moneyStringFromDouble(Math.round(startSaving / 12));

      if (ssAge < retirementAge) {
        let ssYearsBeforeRetirement = retirementAge - ssAge;
        let accumulatedValueOfSSAtRetirement = null;
        if (roi === inflation) { 
          accumulatedValueOfSSAtRetirement = socialSecurityIncome * ssYearsBeforeRetirement * Math.pow(1 + inflation, ssYearsBeforeRetirement - 1);
        } else {
          accumulatedValueOfSSAtRetirement = socialSecurityIncome * (Math.pow(1 + roi, ssYearsBeforeRetirement) - Math.pow(1 + inflation, ssYearsBeforeRetirement)) / (roi - inflation);
        }
        lumpSumNeededAtRetirement += accumulatedValueOfSSAtRetirement;
      }
      if (pensionAge < retirementAge) {
        let pensionYearsBeforeRetirement = retirementAge - pensionAge;
        let accumulatedValueOfPensionAtRetirement = fixedIncome * (Math.pow(1 + roi, pensionYearsBeforeRetirement) - 1) / (roi);
        lumpSumNeededAtRetirement += accumulatedValueOfPensionAtRetirement;
      }

      this.lumpSumAtRetirement = moneyStringFromDouble(Math.round(lumpSumNeededAtRetirement));
      this.retirementIncome = moneyStringFromDouble(Math.round(retirementLifestyleBeforeTaxes));

      // populate floating summary
      let floatingSummary = document.getElementById("floatingSummary");
      floatingSummary.innerHTML = "<span style='display: inline-block; margin: 0.5em;'>You should start saving $" + this.startSaving + " per year.</span>";
      
      // recalc proof
      let newProof = generateNewProof(desiredLifestyle, retirementIncomeTaxRate, currentSavings, startSaving, roi, inflation, currentAge, retirementAge, deathAge, ssAge, pensionAge, socialSecurityIncome, fixedIncome);
      this.proof = newProof;

      var balanceChartElement = document.getElementById('balanceChart').getContext('2d');
      var incomeChartElement = document.getElementById('incomeChart').getContext('2d');

      generateGraphs(balanceChartElement, incomeChartElement, newProof, retirementAge, deathAge);
    }, 250),
    shareUrlToClipboard() {
      let params = {
        desiredLifestyle: this.desiredLifestyle,
        currentAge: this.currentAge,
        retirementAge: this.retirementAge,
        currentSavings: this.currentSavings,
        roi: this.assumptions.roi,
        inflation: this.assumptions.inflation,
        retirementIncomeTaxRate: this.assumptions.retirementIncomeTaxRate,
        ssAge: this.assumptions.ssAge,
        socialSecurityIncome: this.assumptions.socialSecurityIncome,
        pensionAge: this.assumptions.pensionAge,
        fixedIncome: this.assumptions.fixedIncome,
        deathAge: this.assumptions.deathAge,
        estateSize: this.assumptions.estateSize
      };

      var esc = encodeURIComponent;
      var query = Object.keys(params)
        .map(k => esc(k) + '=' + esc(params[k]))
        .join('&');

      navigator.clipboard.writeText(window.location.origin + window.location.pathname + '?' + query);
    }
  },
  watch: {
    ...[
      'desiredLifestyle',
      'currentAge',
      'retirementAge',
      'currentSavings',
      'assumptions.roi',
      'assumptions.inflation',
      'assumptions.retirementIncomeTaxRate',
      'assumptions.ssAge',
      'assumptions.socialSecurityIncome',
      'assumptions.pensionAge',
      'assumptions.fixedIncome',
      'assumptions.deathAge',
      'assumptions.estateSize',
    ].reduce((watchers, key) => ({
      ...watchers,
      [key](newVal, oldVal){
        if (this.propagationEnabled) {
          this.recalcStartSaving();
        }
      }
    }), {}),
  },
  mounted: function() {
    let tab = document.getElementById("retirementcalculatorTab");
    tab.classList.add("active");

    // load from query string parameters
    let urlParams = new URLSearchParams(window.location.search);

    if (urlParams.has('desiredLifestyle')) this.desiredLifestyle = doubleFromMoneyString(urlParams.get('desiredLifestyle'));
    if (urlParams.has('currentAge')) this.currentAge = doubleFromMoneyString(urlParams.get('currentAge'));
    if (urlParams.has('retirementAge')) this.retirementAge = doubleFromMoneyString(urlParams.get('retirementAge'));
    if (urlParams.has('currentSavings')) this.currentSavings = doubleFromMoneyString(urlParams.get('currentSavings'));

    assignAssumptionParamsFromClipboard(urlParams, this.assumptions);

    // enable propagation when visibilityTrigger is triggered
    let thisRef = this;
    const config = {
      root: null,
      rootMargin: '0px',
      threshold: 0.15
      };
    let observer = new IntersectionObserver(function(entries) {
      const firstEntry = entries[0];
      if (firstEntry.isIntersecting) {
        if (!thisRef.propagationEnabled) {
          thisRef.recalcStartSaving();
          thisRef.propagationEnabled = true;

          //send usage event to trackers
          if (process.env.NODE_ENV === 'production') {
            gtag('event', 'Calculate');
            fbq('track', 'ViewContent');
          }
        }
      }
    }, config);

    const visibilityTrigger = document.getElementById('visibilityTrigger');
    observer.observe(visibilityTrigger);
  }
}

</script>