<template>
  <div class="pt-2" style="text-align:center; margin: 0 auto;">
    <span>
      <small class="text-muted">Advertisement</small>
      <b-button-close @click="closeAd">
        <span aria-hidden="true">&times;</span>
      </b-button-close>
    </span>
    <div style="text-align:center; margin: 0 auto; overflow-y: hidden; max-height: 350px;">
      <ins class="adsbygoogle"
        style="display:block;"
        data-ad-client="ca-pub-4197314179702240"
        data-ad-slot="5094783195"
        data-ad-format="rectangle"
        data-full-width-responsive="true"></ins>
    </div>
  </div>
</template>

<script>
export default {
  mounted: function() {
    // trigger adsense
    if (process.env.NODE_ENV === 'production') {
      (adsbygoogle = window.adsbygoogle || []).push({});
    }
  },
  methods: {
    closeAd(event) {
      event.currentTarget.parentElement.parentElement.style.display = 'none';
    }
  }
}
</script>