<template>
  <div class="pt-1" style="text-align:center; margin: 0 auto;">
    <small class="text-muted">Advertisement</small>
    <div class="alert alert-primary" role="alert">
      Want to see all of your accounts in one place? <a class="stretched-link alert-link" href="#" @click.prevent="navigate">Personal Capital</a> is the tool to capture your complete financial situation. Best of all, it's 100% free. Try it today.
    </div>

    <!-- impression pixel -->
    <img src="https://personalcapital.go2cloud.org/aff_i?offer_id=4&aff_id=4355&url_id=51&tiny_url=1" width="0" height="0" style="position:absolute;visibility:hidden;" border="0" />
  </div>
</template>

<script>
export default {
  methods: {
    navigate: function() {
      try {
        fbq('track', 'Lead');
      }
      catch (err) {
        console.error(err);
      }
      window.open("https://personalcapital.go2cloud.org/SHRN", "_blank");
    }
  }
}
</script>
