<template>
<div>
  <div class="row">
    <div class="col">
      <h2 style="text-align:center;">{{ doYouHaveEnough }}</h2>
      <p style="text-align:center;">
        {{ howMuchTp }}
        <br/>
        <small>{{ smallText }}</small>
      </p>
    </div>
  </div>

  <div class="row">
    <b-form-group class="col"
                  id="numRollsInputGroup"
                  label="How many rolls of toilet paper do you have?"
                  label-for="numRolls"
                  description="">
      <b-input-group append="rolls">
        <b-form-input id="numRolls"
                      v-model="numRolls">
        </b-form-input>
      </b-input-group>
    </b-form-group>
  </div>
  
  <div class="row">
    <b-form-group class="col"
                  id="numPeopleInputGroup"
                  label="How many people are in your household?"
                  label-for="numPeople"
                  description="">
      <b-input-group>
        <b-form-input id="numPeople"
                      v-model="numPeople">
        </b-form-input>            
      </b-input-group>
    </b-form-group>
  </div>

  <div class="row">
    <div class="col">
      <b-button id="generate-url-button" block variant="outline-success" size="lg" class="mt-3 mb-4" @click="shareUrlToClipboard">
        Generate a URL with these inputs
      </b-button>
      <b-popover
        :target="`generate-url-button`"
        :placement="`top`"
        triggers="click blur"
        :content="`A link was copied to the clipboard.`"></b-popover>
    </div>
  </div>

  <div class="row">
    <div id="accordion" style="width:100%;">
      <div class="card">
        <div class="card-header" id="heading-2">
          <h5 class="mb-0 accordion-header">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
              Assumptions
            </a>
          </h5>
        </div>
        <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
          <div class="card-body">
            <div class="row">
              <b-form-group class="col-sm-4"
                            id="sheetsPerRollInputGroup"
                            label="Sheets/roll:"
                            label-for="sheetsPerRoll"
                            description="How many sheets on a toilet paper roll (usually between 400 and 1,000).">
                <b-input-group>
                  <b-form-input id="sheetsPerRoll"
                                v-model="sheetsPerRoll">
                  </b-form-input>
                </b-input-group>
              </b-form-group>
              <b-form-group class="col-sm-4"
                            id="sheetsPerTripInputGroup"
                            label="Sheets/trip:"
                            label-for="sheetsPerTrip"
                            description="The number of sheets used during a standard bathroom session.">
                <b-input-group>
                  <b-form-input id="sheetsPerTrip"
                                v-model="sheetsPerTrip">
                  </b-form-input>
                </b-input-group>
              </b-form-group>
              <b-form-group class="col-sm-4"
                            id="tripsPerDayInputGroup"
                            label="Trips/day:"
                            label-for="tripsPerDay"
                            description="The number of trips to the bathroom per day per person.">
                <b-input-group>
                  <b-form-input id="tripsPerDay"
                                v-model="tripsPerDay">
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Did you know?</h4>
        <p>The national toilet paper shortage isn't completely due to large-scale hoarding. In fact, <a href="https://www.wnycstudios.org/podcasts/otm/segments/why-toilet-paper-shortage-makes-more-sense-you-think-on-the-media">panic-buying doesn't even explain half of the story</a>.</p>
        <p>The shortage can mostly be attributed to a shock to <em>the way people use</em> toilet paper. The shift from commercial- to household-grade toilet paper was so sudden, supply chains didn't have time to react. They've been in catch-up mode ever since.</p>
      </div>
    </div>
  </div>
</div>
</template>

<style>
.lock {
  visibility:hidden;
}
.locked .lock {
  visibility:visible;
}
</style>

<script>
export default {
  name: "main-content",
  data() {
    return {
      numRolls$: "30",
      tripsPerDay$: "4",
      numPeople$: "1",

      sheetsPerRoll$: "500",
      sheetsPerTrip$: "10",

      doYouHaveEnough$: null,
      howMuchTp$: null,
      smallText$: null,

      propagationDisabled: true
    }
  },
  methods: {
    recalc() {
      let numRolls = doubleFromMoneyString(this.numRolls$);
      let tripsPerDay = doubleFromMoneyString(this.tripsPerDay$);
      let numPeople = doubleFromMoneyString(this.numPeople$);
      
      let sheetsPerRoll = doubleFromMoneyString(this.sheetsPerRoll$);
      let sheetsPerTrip = doubleFromMoneyString(this.sheetsPerTrip$);

      let numDays = numRolls * sheetsPerRoll / tripsPerDay / sheetsPerTrip / numPeople;

      if (numDays < 0) {
        let hours = Math.round(numDays * 24);
        this.doYouHaveEnough = "Don't be silly.";
        this.howMuchTp = "You can't have NEGATIVE toilet paper.";
        this.smallText = "What goes on in that strange head of yours?";

        return;
      } 

      if (numDays < 3) {
        let hours = Math.round(numDays * 24);
        this.doYouHaveEnough = "You don't have enough.";
        this.howMuchTp = "You have " + hours + " *hours* of toilet paper.";
        this.smallText = "Maybe you should go to the store before you run out?";

        return;
      } 

      if (numDays < 45) {
        let days = Math.round(numDays);
        this.doYouHaveEnough = "You have enough.";
        this.howMuchTp = "You have " + days + " days of toilet paper.";
        this.smallText = "That's actually pretty reasonable. Good job. 👍";

        return;
      } 
      
      if (numDays < 140) {
        let weeks = Math.round(numDays / 7);
        this.doYouHaveEnough = "You have enough.";
        this.howMuchTp = "You have " + weeks + " weeks of toilet paper.";
        this.smallText = "Borderline hoarding but I'll allow it.";

        return;
      }

      if (numDays < 730) {
        let months = Math.round(numDays / 30);
        this.doYouHaveEnough = "You have enough.";
        this.howMuchTp = "You have " + months + " months of toilet paper.";
        this.smallText = "Why are you like this?";

        return;
      }

      if (numDays < 3650) {
        let years = Math.round(numDays / 365);
        this.doYouHaveEnough = "You have enough.";
        this.howMuchTp = "You have " + years + " YEARS of toilet paper.";
        this.smallText = "Yeah OK I'm sorry that's just ridiculous.";

        return;
      }

      let years = Math.round(numDays / 365);
      this.doYouHaveEnough = "You have enough.";
      this.howMuchTp = "You have " + years + " YEARS of toilet paper.";
      this.smallText = "You are set for motherfucking life! Congrats.";
    },
    shareUrlToClipboard() {
      let params = {
        numRolls: this.numRolls,
        tripsPerDay: this.tripsPerDay,
        numPeople: this.numPeople,

        sheetsPerRoll: this.sheetsPerRoll,
        sheetsPerTrip: this.sheetsPerTrip
      };

      var esc = encodeURIComponent;
      var query = Object.keys(params)
        .map(k => esc(k) + '=' + esc(params[k]))
        .join('&');

      navigator.clipboard.writeText(window.location.origin + window.location.pathname + '?' + query);
    }
  },
  computed: {
    numRolls: {
      get() {
        return this.numRolls$;
      },
      set(value) {
        let numRolls = doubleFromMoneyString(value);
        let originalNumRolls = doubleFromMoneyString(this.numRolls$);
        if (numRolls == originalNumRolls) return;
        this.numRolls$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalc();

        this.propagationDisabled = false;
      }
    },
    tripsPerDay: {
      get() {
        return this.tripsPerDay$;
      },
      set(value) {
        let tripsPerDay = doubleFromMoneyString(value);
        let originalTripsPerDay = doubleFromMoneyString(this.tripsPerDay$);
        if (tripsPerDay == originalTripsPerDay) return;
        this.tripsPerDay$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalc();

        this.propagationDisabled = false;
      }
    },
    numPeople: {
      get() {
        return this.numPeople$;
      },
      set(value) {
        let numPeople = doubleFromMoneyString(value);
        let originalNumPeople = doubleFromMoneyString(this.numPeople$);
        if (numPeople == originalNumPeople) return;
        this.numPeople$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalc();

        this.propagationDisabled = false;
      }
    },

    sheetsPerRoll: {
      get() {
        return this.sheetsPerRoll$;
      },
      set(value) {
        let sheetsPerRoll = doubleFromMoneyString(value);
        let originalSheetsPerRoll = doubleFromMoneyString(this.sheetsPerRoll$);
        if (sheetsPerRoll == originalSheetsPerRoll) return;
        this.sheetsPerRoll$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalc();

        this.propagationDisabled = false;
      }
    },
    sheetsPerTrip: {
      get() {
        return this.sheetsPerTrip$;
      },
      set(value) {
        let sheetsPerTrip = doubleFromMoneyString(value);
        let originalSheetsPerTrip = doubleFromMoneyString(this.sheetsPerTrip$);
        if (sheetsPerTrip == originalSheetsPerTrip) return;
        this.sheetsPerTrip$ = value;
        if (this.propagationDisabled) return;

        this.propagationDisabled = true;

        this.recalc();

        this.propagationDisabled = false;
      }
    },

    doYouHaveEnough: {
      get() {
        return this.doYouHaveEnough$;
      },
      set(value) {
        this.doYouHaveEnough$ = value;
      }
    },
    howMuchTp: {
      get() {
        return this.howMuchTp$;
      },
      set(value) {
        this.howMuchTp$ = value;
      }
    },
    smallText: {
      get() {
        return this.smallText$;
      },
      set(value) {
        this.smallText$ = value;
      }
    }

  },
  mounted: function() {
    // load from query string parameters
    let urlParams = new URLSearchParams(window.location.search);

    if (urlParams.has('numRolls') && 
    urlParams.has('tripsPerDay') && 
    urlParams.has('numPeople') && 
    urlParams.has('sheetsPerRoll') && 
    urlParams.has('sheetsPerTrip')) {
      this.numRolls = urlParams.get('numRolls');
      this.tripsPerDay = urlParams.get('tripsPerDay');
      this.numPeople = urlParams.get('numPeople');
      this.sheetsPerRoll = urlParams.get('sheetsPerRoll');
      this.sheetsPerTrip = urlParams.get('sheetsPerTrip');
    }

    this.recalc();

    this.propagationDisabled = false;
  }
}

function doubleFromMoneyString(moneyString){
  let commasRemoved = moneyString.replace(/[^0-9.\-]/g, "");
  let parsedString = parseFloat(commasRemoved);
  if (isNaN(parsedString)) return 0;

  return parsedString;
}

function moneyStringFromDouble(double) {
  double = Math.round(double * 100) / 100; //round to nearest cent
  let commasAdded = double.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

  return commasAdded;
}
</script>