---
layout: default
---

<div class="main-inner page">
  <div class="container">
    <div class="jumbotron" style="margin-top:2rem;">
        <div class="container">
          <h1 class="display-4">404 Not Found</h1>
          <p class="lead font-italic">"Not all those who wander are lost."</p>
          <p class="lead font-italic">― J.R.R. Tolkien</p>
        </div>
    </div>
  </div>
</div>

<script defer src="{{ site.data.manifest['justTheBasicsBundle.js'] }}"></script>
