---
layout: compress
---

<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    {% include navbar.html %} {% include vendors.html %}
    <div class="main">
      {{ content }}
      <div class="container mt-4">
        <p>
          Disclaimer: The information on this blog is of a general nature and is not intended to 
          be construed as individual financial advice. Do not rely on information here to make 
          any financial decision. Instead, contact a financial professional.
          Your continued use of this website confirms your agreement that you shall indemnify,
          hold harmless and defend Nesteggly and its owners from any damages or harm arising 
          from the use of this website.
        </p>
      </div>
    </div>
    {% include footer.html %} {% include analytics.html %} {% include
    facebook-pixel.html %} {% include sw.html %}
  </body>
</html>
