---
layout: default
---

<div class="main-inner post">
  <div class="container">
    <div class="jumbotron"
      style="margin-top:2rem; background: url('{{ page.heroimage }}') no-repeat center center;background-size: cover;">
      <div class="container text-white" style="background:rgba(0,0,0,0.6); padding:2rem; border:1px solid rgba(0,0,0,0.2); border-radius:3px;">
        <h1>{{ page.title }}</h1>
        <hr class="my-4">
        <p class="lead">{{ page.excerpt }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if page.datepublished %}
        <p><em>Published: {{ page.datepublished }}</em></p>
        {% endif %}
        {{ content }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% assign disqusurl = page.url %}
        {% assign disqusidentifier = page.title %}
        {% include disqus.html %}
      </div>
    </div>
  </div>

  {% include share-buttons.html %}

</div>

{% include adsense-script.html %}

<script defer src="{{ site.data.manifest['justTheBasicsBundle.js'] }}"></script>